In [1]:
import os
import sys
import glob
import datetime

import numpy as np
import pandas as pd

In [2]:
gp_table = pd.read_table('crab_gp_kaz_10_2016-2018.csv', sep='\t')

## Добавление разного рода колонок через функции

In [3]:
gp_table['amp_GP']  = np.subtract(gp_table['amp of gp, adc u'], gp_table['Median, adc u'])

In [4]:
gp_table['Time_series'] = pd.to_datetime(gp_table['Date'], format='%d.%m.%Y', errors='ignore')

In [5]:
gp_table = gp_table.set_index('Time_series')

In [6]:
gp_table

,Date,Time start,"Tay, ms","Period, s","Numpointwin, point","Numpulse, a.u.","Median, adc u","STD, adc u",path obs plot,path obs data,"Count of GP, u","point of gp, point","amp of gp, adc u","W50, point","W10, point",path plot,amp_GP
Time_series,,,,,,,,,,,,,,,,,
2016-01-15,15.01.2016,22:22:38.4654350,2.4576,6.002102,2439,34,719.502190,11.528548,./obs_plot/15.01.2016_plot_0531+21.png,.\obs_data\15.01.2016_obs_0531+21.csv,1,61785,924.25417,99.0,99.0,./gp_plot/15.01.2016_plot_0531+21_0.png,204.751980
2016-01-28,28.01.2016,21:31:31.7480869,2.4576,6.002294,2439,34,538.250440,8.978479,./obs_plot/28.01.2016_plot_0531+21.png,.\obs_data\28.01.2016_obs_0531+21.csv,1,27919,705.48172,99.0,99.0,./gp_plot/28.01.2016_plot_0531+21_0.png,167.231280
2016-02-02,02.02.2016,21:11:52.2432174,2.4576,6.002363,2439,34,801.447740,12.969247,./obs_plot/02.02.2016_plot_0531+21.png,.\obs_data\02.02.2016_obs_0531+21.csv,1,5057,1041.97474,99.0,99.0,./gp_plot/02.02.2016_plot_0531+21_0.png,240.527000
2016-02-04,04.02.2016,21:04:00.4663017,2.4576,6.002389,2439,34,770.987110,12.384724,./obs_plot/04.02.2016_plot_0531+21.png,.\obs_data\04.02.2016_obs_0531+21.csv,1,39723,912.55581,99.0,99.0,./gp_plot/04.02.2016_plot_0531+21_0.png,141.568700
2016-02-07,07.02.2016,20:52:12.7584114,2.4576,6.002428,2439,34,734.389580,11.736352,./obs_plot/07.02.2016_plot_0531+21.png,.\obs_data\07.02.2016_obs_0531+21.csv,1,39294,878.88936,99.0,99.0,./gp_plot/07.02.2016_plot_0531+21_0.png,144.499780
2016-02-10,10.02.2016,20:40:25.0676345,2.4576,6.002465,2439,34,530.659450,8.431679,./obs_plot/10.02.2016_plot_0531+21.png,.\obs_data\10.02.2016_obs_0531+21.csv,1,37770,642.85162,99.0,99.0,./gp_plot/10.02.2016_plot_0531+21_0.png,112.192170
2016-02-10,10.02.2016,20:40:25.0676345,2.4576,6.002465,2439,34,530.659450,8.431679,./obs_plot/10.02.2016_plot_0531+21.png,.\obs_data\10.02.2016_obs_0531+21.csv,1,44730,625.72359,99.0,99.0,./gp_plot/10.02.2016_plot_0531+21_1.png,95.064140
2016-02-13,13.02.2016,20:28:37.3627548,2.4576,6.002501,2439,34,737.515830,11.689590,./obs_plot/13.02.2016_plot_0531+21.png,.\obs_data\13.02.2016_obs_0531+21.csv,1,8564,971.96368,99.0,99.0,./gp_plot/13.02.2016_plot_0531+21_0.png,234.447850
2016-02-18,18.02.2016,20:08:57.8583717,2.4576,6.002557,2439,34,759.471920,12.946473,./obs_plot/18.02.2016_plot_0531+21.png,.\obs_data\18.02.2016_obs_0531+21.csv,1,42454,1138.63782,99.0,99.0,./gp_plot/18.02.2016_plot_0531+21_0.png,379.165900
2016-02-18,18.02.2016,20:08:57.8583717,2.4576,6.002557,2439,34,759.471920,12.946473,./obs_plot/18.02.2016_plot_0531+21.png,.\obs_data\18.02.2016_obs_0531+21.csv,1,35427,897.41052,99.0,99.0,./gp_plot/18.02.2016_plot_0531+21_1.png,137.938600
2016-02-19,19.02.2016,20:05:01.9800163,2.4576,6.002568,2439,34,786.454500,13.041510,./obs_plot/19.02.2016_plot_0531+21.png,.\obs_data\19.02.2016_obs_0531+21.csv,1,32133,1113.06224,99.0,99.0,./gp_plot/19.02.2016_plot_0531+21_0.png,326.607740
2016-03-15,15.03.2016,18:26:44.4759025,2.4576,6.002780,2439,34,452.814900,7.527520,./obs_plot/15.03.2016_plot_0531+21.png,.\obs_data\15.03.2016_obs_0531+21.csv,1,36025,548.65624,99.0,99.0,./gp_plot/15.03.2016_plot_0531+21_0.png,95.841340
2016-03-15,15.03.2016,18:26:44.4759025,2.4576,6.002780,2439,34,452.814900,7.527520,./obs_plot/15.03.2016_plot_0531+21.png,.\obs_data\15.03.2016_obs_0531+21.csv,1,11004,536.73206,99.0,99.0,./gp_plot/15.03.2016_plot_0531+21_1.png,83.917160
2016-03-20,20.03.2016,18:07:04.9883408,2.4576,6.002809,2439,34,452.711390,7.617761,./obs_plot/20.03.2016_plot_0531+21.png,.\obs_data\20.03.2016_obs_0531+21.csv,1,17424,563.26944,99.0,99.0,./gp_plot/20.03.2016_plot_0531+21_0.png,110.558050
2016-03-21,21.03.2016,18:03:09.0736017,2.4576,6.002814,2439,34,438.439590,7.539236,./obs_plot/21.03.2016_plot_0531+21.png,.\obs_data\21.03.2016_obs_0531+21.csv,1,61761,522.64954,99.0,99.0,./gp_plot/21.03.2016_plot_0531+21_0.png,84.209950
2016-03-22,22.03.2016,17:59:13.1655149,2.4576,6.002819,2439,34,417.106900,6.588861,./obs_plot/22.03.2016_plot_0531+21.png,.\obs_data\22.03.2016_obs_0531+21.csv,1,39379,495.16131,99.0,99.0,./gp_plot/22.03.2016_plot_0531+21_0.png,78.054410
2016-03-23,23.03.2016,17:55:17.2617168,2.4576,6.002824,2439,34,431.732380,6.856764,./obs_plot/23.03.2016_plot_0531+21.png,.\obs_data\23.03.2016_obs_0531+21.csv,1,37144,529.27591,99.0,99.0,./gp_plot/23.03.2016_plot_0531+21_0.png,97.543530
2016-03-23,23.03.2016,17:55:17.2617168,2.4576,6.002824,2439,34,431.732380,6.856764,./obs_plot/23.03.2016_plot_0531+21.png,.\obs_data\23.03.2016_obs_0531+21.csv,1,39792,512.11817,99.0,99.0,./gp_plot/23.03.2016_plot_0531+21_1.png,80.385790
2016-03-27,27.03.2016,17:39:33.6760330,2.4576,6.002842,2439,34,468.937110,7.920702,./obs_plot/27.03.2016_plot_0531+21.png,.\obs_data\27.03.2016_obs_0531+21.csv,1,73001,591.57064,99.0,99.0,./gp_plot/27.03.2016_plot_0531+21_0.png,122.633530
2016-03-27,27.03.2016,17:39:33.6760330,2.4576,6.002842,2439,34,468.937110,7.920702,./obs_plot/27.03.2016_plot_0531+21.png,.\obs_data\27.03.2016_obs_0531+21.csv,1,59490,559.20208,99.0,99.0,./gp_plot/27.03.2016_plot_0531+21_1.png,90.264970
2016-03-28,28.03.2016,17:35:37.7920722,2.4576,6.002846,2439,34,444.144530,7.315560,./obs_plot/28.03.2016_plot_0531+21.png,.\obs_data\28.03.2016_obs_0531+21.csv,1,70811,569.64418,99.0,99.0,./gp_plot/28.03.2016_plot_0531+21_0.png,125.499650
2016-04-02,02.04.2016,17:15:58.2776222,2.4576,6.002864,2439,34,428.378590,6.819058,./obs_plot/02.04.2016_plot_0531+21.png,.\obs_data\02.04.2016_obs_0531+21.csv,1,46933,520.32002,99.0,99.0,./gp_plot/02.04.2016_plot_0531+21_0.png,91.941430
2016-04-05,05.04.2016,17:04:10.5677986,2.4576,6.002873,2439,34,426.474130,7.796177,./obs_plot/05.04.2016_plot_0531+21.png,.\obs_data\05.04.2016_obs_0531+21.csv,1,67211,513.56196,99.0,99.0,./gp_plot/05.04.2016_plot_0531+21_0.png,87.087830
2016-04-06,06.04.2016,17:00:14.6764001,2.4576,6.002875,2439,34,366.286950,6.404470,./obs_plot/06.04.2016_plot_0531+21.png,.\obs_data\06.04.2016_obs_0531+21.csv,1,67136,430.51483,99.0,99.0,./gp_plot/06.04.2016_plot_0531+21_0.png,64.227880
2016-04-07,07.04.2016,16:56:18.7867221,2.4576,6.002878,2439,34,253.990160,4.384502,./obs_plot/07.04.2016_plot_0531+21.png,.\obs_data\07.04.2016_obs_0531+21.csv,1,17624,349.00702,99.0,99.0,./gp_plot/07.04.2016_plot_0531+21_0.png,95.016860
2016-04-10,10.04.2016,16:44:31.0694999,2.4576,6.002884,2439,34,370.159930,6.552142,./obs_plot/10.04.2016_plot_0531+21.png,.\obs_data\10.04.2016_obs_0531+21.csv,1,36052,468.02463,99.0,99.0,./gp_plot/10.04.2016_plot_0531+21_0.png,97.864700
2016-04-19,19.04.2016,16:09:07.9758057,2.4576,6.002894,2439,34,389.319280,7.322662,./obs_plot/19.04.2016_plot_0531+21.png,.\obs_data\19.04.2016_obs_0531+21.csv,1,31119,508.81602,99.0,99.0,./gp_plot/19.04.2016_plot_0531+21_0.png,119.496740
2016-04-20,20.04.2016,16:05:12.0741262,2.4576,6.002895,2439,34,361.824550,7.521681,./obs_plot/20.04.2016_plot_0531+21.png,.\obs_data\20.04.2016_obs_0531+21.csv,1,67163,464.50014,99.0,99.0,./gp_plot/20.04.2016_plot_0531+21_0.png,102.675590
2016-04-21,21.04.2016,16:01:16.1786479,2.4576,6.002895,2439,34,388.417050,7.183747,./obs_plot/21.04.2016_plot_0531+21.png,.\obs_data\21.04.2016_obs_0531+21.csv,1,74954,489.03611,99.0,99.0,./gp_plot/21.04.2016_plot_0531+21_0.png,100.619060
2016-04-21,21.04.2016,16:01:16.1786479,2.4576,6.002895,2439,34,388.417050,7.183747,./obs_plot/21.04.2016_plot_0531+21.png,.\obs_data\21.04.2016_obs_0531+21.csv,1,72514,486.02998,99.0,99.0,./gp_plot/21.04.2016_plot_0531+21_1.png,97.612930
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-06-11,11.06.2018,12:42:47.0130424,2.4576,6.007501,2442,34,24.798310,0.411042,./obs_plot/11.06.2018_plot_0531+21.png,.\obs_data\11.06.2018_obs_0531+21.csv,1,5599,29.17972,99.0,99.0,./gp_plot/11.06.2018_plot_0531+21_1.png,4.381410
2018-06-13,13.06.2018,12:34:55.2300338,2.4576,6.007494,2442,34,36.236645,0.645437,./obs_plot/13.06.2018_plot_0531+21.png,.\obs_data\13.06.2018_obs_0531+21.csv,1,50579,48.79419,99.0,99.0,./gp_plot/13.06.2018_plot_0531+21_0.png,12.557545
2018-06-15,15.06.2018,12:27:03.4124486,2.4576,6.007487,2442,34,13.585950,0.226075,./obs_plot/15.06.2018_plot_0531+21.png,.\obs_data\15.06.2018_obs_0531+21.csv,1,75762,17.58974,99.0,99.0,./gp_plot/15.06.2018_plot_0531+21_0.png,4.003790
2018-06-19,19.06.2018,12:11:19.8103389,2.4576,6.007473,2442,34,34.518425,0.605016,./obs_plot/19.06.2018_plot_0531+21.png,.\obs_data\19.06.2018_obs_0531+21.csv,1,39851,45.11944,99.0,99.0,./gp_plot/19.06.2018_plot_0531+21_0.png,10.601015
2018-06-19,19.06.2018,12:11:19.8103389,2.4576,6.007473,2442,34,34.518425,0.605016,./obs_plot/19.06.2018_plot_0531+21.png,.\obs_data\19.06.2018_obs_0531+21.csv,1,64106,41.34495,99.0,99.0,./gp_plot/19.06.2018_plot_0531+21_1.png,6.826525
2018-06-19,19.06.2018,12:11:19.8103389,2.4576,6.007473,2442,34,34.518425,0.605016,./obs_plot/19.06.2018_plot_0531+21.png,.\obs_data\19.06.2018_obs_0531+21.csv,1,44707,40.76257,99.0,99.0,./gp_plot/19.06.2018_plot_0531+21_2.png,6.244145
2018-06-21,21.06.2018,12:03:28.0301532,2.4576,6.007466,2442,34,44.046575,0.753020,./obs_plot/21.06.2018_plot_0531+21.png,.\obs_data\21.06.2018_obs_0531+21.csv,1,71155,59.43324,99.0,99.0,./gp_plot/21.06.2018_plot_0531+21_0.png,15.386665
2018-06-22,22.06.2018,11:59:32.1170806,2.4576,6.007463,2442,34,83.721490,1.972318,./obs_plot/22.06.2018_plot_0531+21.png,.\obs_data\22.06.2018_obs_0531+21.csv,1,64211,108.19421,99.0,99.0,./gp_plot/22.06.2018_plot_0531+21_0.png,24.472720
2018-06-23,23.06.2018,11:55:36.2230072,2.4576,6.007459,2442,34,41.605565,0.725244,./obs_plot/23.06.2018_plot_0531+21.png,.\obs_data\23.06.2018_obs_0531+21.csv,1,68791,52.81498,99.0,99.0,./gp_plot/23.06.2018_plot_0531+21_0.png,11.209415
2018-06-26,26.06.2018,11:43:48.5241661,2.4576,6.007449,2442,34,34.417240,0.589202,./obs_plot/26.06.2018_plot_0531+21.png,.\obs_data\26.06.2018_obs_0531+21.csv,1,68252,45.48245,99.0,99.0,./gp_plot/26.06.2018_plot_0531+21_0.png,11.065210
2018-06-28,28.06.2018,11:35:56.7155647,2.4576,6.007443,2442,34,42.446585,0.749204,./obs_plot/28.06.2018_plot_0531+21.png,.\obs_data\28.06.2018_obs_0531+21.csv,1,65779,54.47024,99.0,99.0,./gp_plot/28.06.2018_plot_0531+21_0.png,12.023655
2018-06-28,28.06.2018,11:35:56.7155647,2.4576,6.007443,2442,34,42.446585,0.749204,./obs_plot/28.06.2018_plot_0531+21.png,.\obs_data\28.06.2018_obs_0531+21.csv,1,64406,50.87872,99.0,99.0,./gp_plot/28.06.2018_plot_0531+21_1.png,8.432135
2018-06-28,28.06.2018,11:35:56.7155647,2.4576,6.007443,2442,34,42.446585,0.749204,./obs_plot/28.06.2018_plot_0531+21.png,.\obs_data\28.06.2018_obs_0531+21.csv,1,15526,50.33873,99.0,99.0,./gp_plot/28.06.2018_plot_0531+21_2.png,7.892145
2018-06-30,30.06.2018,11:28:04.9262714,2.4576,6.007437,2442,34,42.925180,0.954394,./obs_plot/30.06.2018_plot_0531+21.png,.\obs_data\30.06.2018_obs_0531+21.csv,1,70579,61.96199,99.0,99.0,./gp_plot/30.06.2018_plot_0531+21_0.png,19.036810
2018-07-02,02.07.2018,11:20:13.1263761,2.4576,6.007431,2442,34,34.448155,0.619650,./obs_plot/02.07.2018_plot_0531+21.png,.\obs_data\02.07.2018_obs_0531+21.csv,1,69098,44.34782,99.0,99.0,./gp_plot/02.07.2018_plot_0531+21_0.png,9.899665
2018-07-02,02.07.2018,11:20:13.1263761,2.4576,6.007431,2442,34,34.448155,0.619650,./obs_plot/02.07.2018_plot_0531+21.png,.\obs_data\02.07.2018_obs_0531+21.csv,1,3392,42.94066,99.0,99.0,./gp_plot/02.07.2018_plot_0531+21_1.png,8.492505
2018-07-03,03.07.2018,11:16:17.2110595,2.4576,6.007427,2442,34,23.622470,0.459372,./obs_plot/03.07.2018_plot_0531+21.png,.\obs_data\03.07.2018_obs_0531+21.csv,1,60107,28.91635,99.0,99.0,./gp_plot/03.07.2018_plot_0531+21_0.png,5.293880
2018-07-04,04.07.2018,11:12:21.3199539,2.4576,6.007424,2442,34,24.655335,0.468682,./obs_plot/04.07.2018_plot_0531+21.png,.\obs_data\04.07.2018_obs_0531+21.csv,1,1717,41.86746,99.0,99.0,./gp_plot/04.07.2018_plot_0531+21_0.png,17.212125
2018-07-08,08.07.2018,10:56:37.7392120,2.4576,6.007413,2442,34,35.389205,0.625780,./obs_plot/08.07.2018_plot_0531+21.png,.\obs_data\08.07.2018_obs_0531+21.csv,1,61884,41.67602,99.0,99.0,./gp_plot/08.07.2018_plot_0531+21_0.png,6.286815
2018-07-10,10.07.2018,10:48:45.9412841,2.4576,6.007407,2442,34,35.109940,0.650467,./obs_plot/10.07.2018_plot_0531+21.png,.\obs_data\10.07.2018_obs_0531+21.csv,1,14581,45.33763,99.0,99.0,./gp_plot/10.07.2018_plot_0531+21_0.png,10.227690
2018-07-10,10.07.2018,10:48:45.9412841,2.4576,6.007407,2442,34,35.109940,0.650467,./obs_plot/10.07.2018_plot_0531+21.png,.\obs_data\10.07.2018_obs_0531+21.csv,1,55559,43.09727,99.0,99.0,./gp_plot/10.07.2018_plot_0531+21_1.png,7.987330
2018-07-12,12.07.2018,10:40:54.1238784,2.4576,6.007402,2442,34,40.466650,0.767545,./obs_plot/12.07.2018_plot_0531+21.png,.\obs_data\12.07.2018_obs_0531+21.csv,1,67726,49.02581,99.0,99.0,./gp_plot/12.07.2018_plot_0531+21_0.png,8.559160
2018-07-12,12.07.2018,10:40:54.1238784,2.4576,6.007402,2442,34,40.466650,0.767545,./obs_plot/12.07.2018_plot_0531+21.png,.\obs_data\12.07.2018_obs_0531+21.csv,1,71623,48.86427,99.0,99.0,./gp_plot/12.07.2018_plot_0531+21_1.png,8.397620
2018-07-13,13.07.2018,10:36:58.2439537,2.4576,6.007400,2442,34,81.995615,1.467436,./obs_plot/13.07.2018_plot_0531+21.png,.\obs_data\13.07.2018_obs_0531+21.csv,1,68424,111.40676,99.0,99.0,./gp_plot/13.07.2018_plot_0531+21_0.png,29.411145
2018-07-14,14.07.2018,10:33:02.3284180,2.4576,6.007397,2442,34,40.239650,0.706934,./obs_plot/14.07.2018_plot_0531+21.png,.\obs_data\14.07.2018_obs_0531+21.csv,1,3162,53.51444,99.0,99.0,./gp_plot/14.07.2018_plot_0531+21_0.png,13.274790
2018-07-14,14.07.2018,10:33:02.3284180,2.4576,6.007397,2442,34,40.239650,0.706934,./obs_plot/14.07.2018_plot_0531+21.png,.\obs_data\14.07.2018_obs_0531+21.csv,1,8348,48.21802,99.0,99.0,./gp_plot/14.07.2018_plot_0531+21_1.png,7.978370
2018-07-17,17.07.2018,10:21:14.6168880,2.4576,6.007390,2442,34,42.598690,0.719824,./obs_plot/17.07.2018_plot_0531+21.png,.\obs_data\17.07.2018_obs_0531+21.csv,1,11832,50.77659,99.0,99.0,./gp_plot/17.07.2018_plot_0531+21_0.png,8.177900
2018-07-18,18.07.2018,10:17:18.7404689,2.4576,6.007388,2442,34,35.231655,0.617920,./obs_plot/18.07.2018_plot_0531+21.png,.\obs_data\18.07.2018_obs_0531+21.csv,1,37416,44.75431,99.0,99.0,./gp_plot/18.07.2018_plot_0531+21_0.png,9.522655
2018-07-19,19.07.2018,10:13:22.8350772,2.4576,6.007386,2442,34,43.179050,0.743790,./obs_plot/19.07.2018_plot_0531+21.png,.\obs_data\19.07.2018_obs_0531+21.csv,1,42451,50.99160,99.0,99.0,./gp_plot/19.07.2018_plot_0531+21_0.png,7.812550
2018-07-23,23.07.2018,09:57:39.2218589,2.4576,6.007379,2442,34,32.849335,0.644946,./obs_plot/23.07.2018_plot_0531+21.png,.\obs_data\23.07.2018_obs_0531+21.csv,1,10718,43.79750,99.0,99.0,./gp_plot/23.07.2018_plot_0531+21_0.png,10.948165

In [7]:
before_glitch = gp_table[:'2017-11-17']
after_glitch = gp_table['2017-11-17':]

In [8]:
before_glitch['Count of GP, u'].resample('Y').sum()

Time_series
2016-12-31    129
2017-12-31    218
Freq: A-DEC, Name: Count of GP, u, dtype: int64

In [9]:
after_glitch['Count of GP, u'].resample('Y').sum()

Time_series
2017-12-31     97
2018-12-31    273
Freq: A-DEC, Name: Count of GP, u, dtype: int64

In [10]:
before_glitch['Count of GP, u'].resample('M').sum()

Time_series
2016-01-31      2
2016-02-29      9
2016-03-31     10
2016-04-30     13
2016-05-31     23
2016-06-30     10
2016-07-31     11
2016-08-31     11
2016-09-30     16
2016-10-31     15
2016-11-30      4
2016-12-31      5
2017-01-31      2
2017-02-28      0
2017-03-31      0
2017-04-30      0
2017-05-31      0
2017-06-30      0
2017-07-31      3
2017-08-31     24
2017-09-30     53
2017-10-31    100
2017-11-30     36
Freq: M, Name: Count of GP, u, dtype: int64

In [11]:
after_glitch['Count of GP, u'].resample('M').sum()

Time_series
2017-11-30     22
2017-12-31     75
2018-01-31     80
2018-02-28     14
2018-03-31    106
2018-04-30     29
2018-05-31      9
2018-06-30     19
2018-07-31     16
Freq: M, Name: Count of GP, u, dtype: int64

In [57]:
before_glitch['Count of GP, u'].resample('D').sum().replace(0, np.nan).dropna()

Time_series
2016-01-15    1.0
2016-01-28    1.0
2016-02-02    1.0
2016-02-04    1.0
2016-02-07    1.0
2016-02-10    2.0
2016-02-13    1.0
2016-02-18    2.0
2016-02-19    1.0
2016-03-15    2.0
2016-03-20    1.0
2016-03-21    1.0
2016-03-22    1.0
2016-03-23    2.0
2016-03-27    2.0
2016-03-28    1.0
2016-04-02    1.0
2016-04-05    1.0
2016-04-06    1.0
2016-04-07    1.0
2016-04-10    1.0
2016-04-19    1.0
2016-04-20    1.0
2016-04-21    3.0
2016-04-28    2.0
2016-04-30    1.0
2016-05-01    2.0
2016-05-02    3.0
2016-05-03    1.0
2016-05-05    1.0
             ...
2017-10-16    2.0
2017-10-17    7.0
2017-10-18    6.0
2017-10-19    2.0
2017-10-20    3.0
2017-10-21    4.0
2017-10-22    4.0
2017-10-23    4.0
2017-10-24    5.0
2017-10-25    4.0
2017-10-26    1.0
2017-10-27    2.0
2017-10-28    5.0
2017-10-30    4.0
2017-10-31    4.0
2017-11-01    2.0
2017-11-02    3.0
2017-11-03    1.0
2017-11-04    1.0
2017-11-06    2.0
2017-11-07    3.0
2017-11-09    4.0
2017-11-10    2.0
2017-11-11    2.0
2017-11-12    3.0
2017-11-13    2.0
2017-11-14    6.0
2017-11-15    1.0
2017-11-16    2.0
2017-11-17    2.0
Name: Count of GP, u, Length: 193, dtype: float64

In [58]:
after_glitch['Count of GP, u'].resample('D').sum().replace(0, np.nan).dropna()

Time_series
2017-11-17    2.0
2017-11-19    1.0
2017-11-20    3.0
2017-11-21    5.0
2017-11-23    2.0
2017-11-25    2.0
2017-11-26    2.0
2017-11-30    5.0
2017-12-01    1.0
2017-12-04    3.0
2017-12-05    3.0
2017-12-06    5.0
2017-12-07    3.0
2017-12-08    4.0
2017-12-09    5.0
2017-12-11    5.0
2017-12-12    2.0
2017-12-14    2.0
2017-12-15    1.0
2017-12-16    2.0
2017-12-17    3.0
2017-12-18    3.0
2017-12-19    3.0
2017-12-20    1.0
2017-12-21    4.0
2017-12-22    2.0
2017-12-23    4.0
2017-12-24    3.0
2017-12-25    4.0
2017-12-26    4.0
             ...
2018-05-15    1.0
2018-05-22    1.0
2018-05-24    1.0
2018-05-25    1.0
2018-05-27    1.0
2018-06-03    1.0
2018-06-04    2.0
2018-06-10    1.0
2018-06-11    2.0
2018-06-13    1.0
2018-06-15    1.0
2018-06-19    3.0
2018-06-21    1.0
2018-06-22    1.0
2018-06-23    1.0
2018-06-26    1.0
2018-06-28    3.0
2018-06-30    1.0
2018-07-02    2.0
2018-07-03    1.0
2018-07-04    1.0
2018-07-08    1.0
2018-07-10    2.0
2018-07-12    2.0
2018-07-13    1.0
2018-07-14    2.0
2018-07-17    1.0
2018-07-18    1.0
2018-07-19    1.0
2018-07-23    1.0
Name: Count of GP, u, Length: 146, dtype: float64

### Расчет кол-ва сеансов

In [14]:
files_0531 = sorted(
    glob.glob('./obs_data/*'), 
    key=lambda x: datetime.datetime.strptime(os.path.basename(x), '%d.%m.%Y_obs_0531+21.csv'))
len(files_0531)

983

In [15]:
crap_sessoins = pd.DataFrame(columns=['Date', 'Session'])

In [16]:
os.path.basename(files_0531[0])[6:10] # day [:2] [3:5] [6:10]

'2016'

In [17]:
idx = 0
for name in files_0531:
    _data = (os.path.basename(name)[6:10] 
             + '-'
             + os.path.basename(name)[3:5]
             + '-'
             + os.path.basename(name)[:2])
    
    crap_sessoins.loc[idx] = [_data, 1]
    idx += 1

In [18]:
crap_sessoins

           Date Session
0    2016-01-11       1
1    2016-01-12       1
2    2016-01-13       1
3    2016-01-14       1
4    2016-01-15       1
5    2016-01-16       1
6    2016-01-17       1
7    2016-01-19       1
8    2016-01-20       1
9    2016-01-21       1
10   2016-01-22       1
11   2016-01-23       1
12   2016-01-24       1
13   2016-01-25       1
14   2016-01-26       1
15   2016-01-27       1
16   2016-01-28       1
17   2016-01-29       1
18   2016-01-30       1
19   2016-02-01       1
20   2016-02-02       1
21   2016-02-03       1
22   2016-02-04       1
23   2016-02-05       1
24   2016-02-06       1
25   2016-02-07       1
26   2016-02-08       1
27   2016-02-09       1
28   2016-02-10       1
29   2016-02-12       1
..          ...     ...
953  2018-10-18       1
954  2018-10-19       1
955  2018-10-20       1
956  2018-10-21       1
957  2018-10-22       1
958  2018-10-23       1
959  2018-10-25       1
960  2018-10-26       1
961  2018-10-27       1
962  2018-10-28       1
963  2018-10-29       1
964  2018-10-30       1
965  2018-10-31       1
966  2018-11-01       1
967  2018-11-02       1
968  2018-11-03       1
969  2018-11-04       1
970  2018-11-05       1
971  2018-11-06       1
972  2018-11-07       1
973  2018-11-08       1
974  2018-11-09       1
975  2018-11-10       1
976  2018-11-11       1
977  2018-11-12       1
978  2018-11-13       1
979  2018-11-14       1
980  2018-11-15       1
981  2018-11-16       1
982  2018-11-17       1

[983 rows x 2 columns]

In [19]:
crap_sessoins['Time_series'] = pd.to_datetime(crap_sessoins['Date'], format='%Y-%m-%d', errors='ignore')
crap_sessoins = crap_sessoins.set_index('Time_series')

In [20]:
crap_sessoins['Session'].resample('Y').sum()

Time_series
2016-12-31    341
2017-12-31    355
2018-12-31    287
Freq: A-DEC, Name: Session, dtype: int64

In [21]:
before_glitch_sessions = crap_sessoins[:'2017-11-17']
after_glitch_sessions = crap_sessoins['2017-11-17':]

In [22]:
before_glitch_sessions['Session'].resample('Y').sum()

Time_series
2016-12-31    341
2017-12-31    312
Freq: A-DEC, Name: Session, dtype: int64

In [23]:
after_glitch_sessions['Session'].resample('Y').sum()

Time_series
2017-12-31     44
2018-12-31    287
Freq: A-DEC, Name: Session, dtype: int64

In [24]:
before_glitch_sessions['Session'].resample('M').sum()

Time_series
2016-01-31    19
2016-02-29    26
2016-03-31    31
2016-04-30    28
2016-05-31    30
2016-06-30    27
2016-07-31    31
2016-08-31    31
2016-09-30    29
2016-10-31    31
2016-11-30    27
2016-12-31    31
2017-01-31    28
2017-02-28    28
2017-03-31    31
2017-04-30    30
2017-05-31    31
2017-06-30    29
2017-07-31    29
2017-08-31    31
2017-09-30    27
2017-10-31    31
2017-11-30    17
Freq: M, Name: Session, dtype: int64

In [25]:
after_glitch_sessions['Session'].resample('M').sum()

Time_series
2017-11-30    14
2017-12-31    30
2018-01-31    30
2018-02-28    12
2018-03-31    30
2018-04-30    27
2018-05-31    30
2018-06-30    28
2018-07-31    30
2018-08-31    30
2018-09-30    24
2018-10-31    29
2018-11-30    17
Freq: M, Name: Session, dtype: int64

### Статистика по другим величинам

In [26]:
before_glitch['Median, adc u'].resample('M').mean()

Time_series
2016-01-31    628.876315
2016-02-29    712.339722
2016-03-31    445.937119
2016-04-30    384.164922
2016-05-31    427.126369
2016-06-30    233.864426
2016-07-31     84.821572
2016-08-31     79.165951
2016-09-30    118.915405
2016-10-31    101.561806
2016-11-30    144.932380
2016-12-31    131.474374
2017-01-31    147.842520
2017-02-28           NaN
2017-03-31           NaN
2017-04-30           NaN
2017-05-31           NaN
2017-06-30           NaN
2017-07-31    135.424932
2017-08-31    148.032044
2017-09-30    180.893217
2017-10-31    303.583680
2017-11-30    300.968140
Freq: M, Name: Median, adc u, dtype: float64

In [27]:
after_glitch['Median, adc u'].resample('M').mean()

Time_series
2017-11-30    245.739219
2017-12-31    327.498366
2018-01-31    813.668461
2018-02-28    427.171790
2018-03-31    261.603489
2018-04-30     70.519407
2018-05-31     74.274721
2018-06-30     39.055721
2018-07-31     38.753134
Freq: M, Name: Median, adc u, dtype: float64

In [28]:
before_glitch['amp_GP'].resample('M').max()

Time_series
2016-01-31    204.751980
2016-02-29    379.165900
2016-03-31    125.499650
2016-04-30    177.749970
2016-05-31    388.335120
2016-06-30    902.988760
2016-07-31     59.847580
2016-08-31     53.645850
2016-09-30     57.646760
2016-10-31     80.618990
2016-11-30     36.850890
2016-12-31     38.303480
2017-01-31     29.984455
2017-02-28           NaN
2017-03-31           NaN
2017-04-30           NaN
2017-05-31           NaN
2017-06-30           NaN
2017-07-31     50.323400
2017-08-31    300.574335
2017-09-30    179.339025
2017-10-31    360.753150
2017-11-30    531.153420
Freq: M, Name: amp_GP, dtype: float64

In [29]:
after_glitch['amp_GP'].resample('M').max()

Time_series
2017-11-30     258.359035
2017-12-31     591.319345
2018-01-31    1160.150175
2018-02-28     364.429200
2018-03-31     440.732325
2018-04-30      63.541740
2018-05-31     200.837310
2018-06-30      24.472720
2018-07-31      29.411145
Freq: M, Name: amp_GP, dtype: float64