In [1]:
import os
import sys
import glob
import datetime

import numpy as np
import pandas as pd

In [43]:
gp_table = pd.read_table('crab_gp_kaz_10_2010-2018.csv', sep='\t')
gp_table['Time_series'] = pd.to_datetime(gp_table['Date'], format='%d.%m.%Y', errors='ignore')
gp_table = gp_table.set_index('Time_series')
print(len(gp_table))

1378

## Удаление аномальных событий и калибровочных ступений

In [44]:
no_GP = pd.read_table('noGI.csv', sep=',')

In [45]:
no_GP

           дата  номер импульса   Примечание
0    2010-10-23               0  anomal wide
1    2010-10-23               1        calib
2    2010-10-23               2        calib
3    2010-10-23               3        calib
4    2010-10-23               4        calib
5    2010-10-23               5        calib
6    2010-10-23               6        calib
7    2010-10-23               7        calib
8    2010-10-23               8        calib
9    2010-10-23               9        calib
10   2010-10-23              10        calib
11   2010-10-23              11        calib
12   2010-11-25               0        noise
13   2010-11-25               1        noise
14   2011-04-20               0  anomal wide
15   2011-04-20               1        noise
16   2011-04-20               2        noise
17   2011-04-20               3        noise
18   2011-04-20               4        noise
19   2011-04-20               5        noise
20   2011-04-20               6        noise
21   2011-04-20               7        noise
22   2011-04-20               8        noise
23   2011-04-20               9        noise
24   2011-04-20              10        noise
25   2011-04-20              11        noise
26   2011-04-20              12        noise
27   2011-04-20              13        noise
28   2011-04-20              14        noise
29   2011-04-20              15        noise
..          ...             ...          ...
309  2017-07-16               2        calib
310  2017-07-16               3        calib
311  2017-07-16               4        calib
312  2017-07-16               5        calib
313  2017-07-16               6        calib
314  2017-07-16               7        calib
315  2017-07-16               8        calib
316  2017-07-16               9        calib
317  2017-07-16              10        calib
318  2017-07-16              11        calib
319  2017-07-16              12        calib
320  2017-07-16              13        calib
321  2016-06-17               0        noise
322  2016-07-18               0  anomal wide
323  2016-07-18               1        calib
324  2016-07-18               2        calib
325  2016-09-25               0        noise
326  2017-09-25               2        noise
327  2018-04-28               1  anomal wide
328  2017-05-29               0  anomal wide
329  2017-05-29               1        calib
330  2017-05-29               2        calib
331  2017-05-29               3        calib
332  2017-05-29               4        calib
333  2017-05-29               5        calib
334  2017-05-29               6        calib
335  2017-05-29               7        calib
336  2017-05-29               8        calib
337  2017-05-29               9        calib
338  2018-11-15               0  anomal wide

[339 rows x 3 columns]

In [46]:
gp_table.head()

,Date,Time start,"Tay, ms","Period, s","Numpointwin, point","Numpulse, a.u.","Median, adc u","STD, adc u",path obs plot,path obs data,"Count of GP, u","point of gp, point","amp of gp, adc u","W50, point","W10, point",path plot
Time_series,,,,,,,,,,,,,,,,
2010-09-09,09.09.2010,06:48:41.8374290,2.4576,5.988578,2430,34,479.795355,12.035700,./obs_plot/09.09.2010_plot_0531+21.png,.\obs_data\09.09.2010_obs_0531+21.csv,1,45640,600.19722,99.00000,99.0,./gp_plot/09.09.2010_plot_0531+21_0.png
2010-09-12,12.09.2010,06:36:54.1340866,2.4576,5.988594,2430,34,466.859325,10.627263,./obs_plot/12.09.2010_plot_0531+21.png,.\obs_data\12.09.2010_obs_0531+21.csv,1,36629,580.26615,99.00000,99.0,./gp_plot/12.09.2010_plot_0531+21_0.png
2010-10-17,17.10.2010,04:19:17.6313152,2.4576,5.988894,2430,34,651.843725,15.661569,./obs_plot/17.10.2010_plot_0531+21.png,.\obs_data\17.10.2010_obs_0531+21.csv,1,27361,883.96305,99.00000,99.0,./gp_plot/17.10.2010_plot_0531+21_0.png
2010-10-23,23.10.2010,03:55:42.2248611,2.4576,5.988966,2430,34,246.820140,21.169761,./obs_plot/23.10.2010_plot_0531+21.png,.\obs_data\23.10.2010_obs_0531+21.csv,1,74376,807.85562,73.67085,99.0,./gp_plot/23.10.2010_plot_0531+21_0.png
2010-10-23,23.10.2010,03:55:42.2248611,2.4576,5.988966,2430,34,246.820140,21.169761,./obs_plot/23.10.2010_plot_0531+21.png,.\obs_data\23.10.2010_obs_0531+21.csv,1,74359,779.00989,16.65180,99.0,./gp_plot/23.10.2010_plot_0531+21_1.png

In [47]:
gp_table[(gp_table.index == '2010-10-17')]

,Date,Time start,"Tay, ms","Period, s","Numpointwin, point","Numpulse, a.u.","Median, adc u","STD, adc u",path obs plot,path obs data,"Count of GP, u","point of gp, point","amp of gp, adc u","W50, point","W10, point",path plot
Time_series,,,,,,,,,,,,,,,,
2010-10-17,17.10.2010,04:19:17.6313152,2.4576,5.988894,2430,34,651.843725,15.661569,./obs_plot/17.10.2010_plot_0531+21.png,.\obs_data\17.10.2010_obs_0531+21.csv,1,27361,883.96305,99.0,99.0,./gp_plot/17.10.2010_plot_0531+21_0.png

In [48]:
for index, row in no_GP.iterrows():
    print(row['дата'], row['номер импульса'])
    try:
        gp_table = gp_table.drop(
            gp_table[
                ((gp_table.index == row['дата']) 
                 & (gp_table['path plot'].str.contains('_' + str(row['номер импульса']) + '.png')))].index)
    except TypeError:
        continue

2010-10-23 0
2010-10-23 1
2010-10-23 2
2010-10-23 3
2010-10-23 4
2010-10-23 5
2010-10-23 6
2010-10-23 7
2010-10-23 8
2010-10-23 9
2010-10-23 10
2010-10-23 11
2010-11-25 0
2010-11-25 1
2011-04-20 0
2011-04-20 1
2011-04-20 2
2011-04-20 3
2011-04-20 4
2011-04-20 5
2011-04-20 6
2011-04-20 7
2011-04-20 8
2011-04-20 9
2011-04-20 10
2011-04-20 11
2011-04-20 12
2011-04-20 13
2011-04-20 14
2011-04-20 15
2011-04-20 16
2011-05-05 0
2011-05-17 0
2011-05-17 1
2011-05-17 2
2011-05-17 3
2011-05-17 4
2011-06-14 0
2011-06-14 1
2011-06-16 0
2011-06-20 0
2011-06-20 1
2011-06-20 2
2011-06-20 3
2011-06-20 4
2011-06-20 5
2011-06-20 6
2011-06-20 7
2011-06-20 8
2011-06-20 9
2011-06-20 10
2011-06-20 11
2011-06-20 12
2011-06-20 13
2011-06-20 14
2011-06-20 15
2011-06-20 16
2011-06-20 17
2011-06-20 18
2011-06-20 19
2011-06-20 20
2011-06-20 21
2011-06-20 22
2011-06-20 23
2011-06-20 24
2011-06-20 25
2011-06-20 26
2011-06-20 27
2011-06-20 28
2011-06-20 29
2011-06-20 30
2011-06-20 31
2011-06-20 32
2011-06-20 33
2011-06-21 0
2011-06-21 1
2011-06-21 2
2011-06-21 3
2011-06-21 4
2011-06-22 0
2011-06-22 1
2011-06-22 2
2011-06-22 3
2011-06-22 4
2011-06-22 5
2011-06-22 6
2011-06-22 7
2011-06-22 8
2011-06-22 9
2011-06-22 10
2011-06-22 11
2011-06-22 12
2011-06-22 13
2011-06-22 14
2011-06-22 15
2011-06-22 16
2011-06-22 17
2011-06-22 18
2011-06-22 19
2011-06-22 20
2011-06-22 21
2011-06-22 22
2011-06-22 23
2011-06-22 24
2011-06-22 25
2011-06-22 26
2011-06-22 27
2011-06-22 28
2011-06-22 29
2011-06-22 30
2011-06-22 31
2011-06-22 32
2011-06-22 33
2011-06-22 34
2011-06-22 35
2011-06-22 36
2011-06-22 37
2011-06-22 38
2011-06-22 39
2011-06-22 40
2011-06-22 41
2011-06-22 42
2011-06-22 43
2011-06-22 44
2011-06-22 45
2011-06-22 46
2011-06-22 47
2011-06-22 48
2011-06-22 49
2011-06-22 50
2011-06-22 51
2011-06-22 52
2011-06-22 53
2011-06-22 54
2011-06-22 55
2011-06-22 56
2012-06-11 0
2012-06-11 1
2012-06-11 2
2012-06-11 3
2012-06-11 4
2012-06-11 5
2012-06-11 6
2012-06-11 7
2012-06-11 8
2012-06-11 9
2012-06-11 10
2012-06-12 0
2012-06-12 1
2012-06-12 2
2013-03-31 0
2013-03-31 1
2013-04-12 0
2013-04-12 1
2013-04-12 2
2013-04-12 3
2013-05-13 0
2013-05-13 1
2013-05-13 2
2013-05-13 3
2013-05-13 4
2013-05-25 0
2013-05-25 2
2013-05-26 0
2013-05-26 1
2013-05-26 2
2013-05-31 0
2013-05-31 1
2013-05-31 2
2013-05-31 3
2013-06-02 0
2013-06-02 1
2013-06-02 2
2013-06-02 3
2013-06-02 4
2013-06-02 5
2013-06-02 6
2013-06-02 7
2013-06-02 8
2013-06-02 9
2013-06-02 10
2013-06-02 11
2013-06-02 12
2013-06-11 0
2013-06-11 1
2013-06-11 2
2013-06-15 0
2013-06-15 1
2013-06-15 2
2013-06-15 3
2013-06-19 0
2013-06-19 1
2013-06-19 2
2013-06-19 3
2013-06-19 5
2013-06-19 6
2013-06-19 7
2013-07-13 0
2013-07-14 0
2013-07-14 1
2013-08-16 0
2013-08-16 1
2013-08-16 2
2013-08-16 3
2013-08-16 4
2013-11-18 0
2013-11-18 1
2013-11-18 2
2013-11-18 3
2013-11-18 4
2013-11-18 5
2013-11-18 6
2013-11-18 7
2013-11-18 8
2013-11-18 9
2013-11-18 10
2013-11-18 11
2013-11-18 12
2014-01-19 0
2014-01-19 1
2014-01-19 2
2014-01-19 3
2014-01-21 0
2014-01-21 1
2014-01-21 2
2014-05-21 0
2014-03-22 0
2014-03-22 2
2014-03-22 3
2014-03-22 4
2014-05-21 1
2014-05-21 2
2014-06-09 0
2014-06-09 1
2014-06-09 2
2014-06-09 3
2014-06-09 4
2014-06-09 5
2014-06-09 6
2014-06-09 7
2014-06-09 8
2014-06-09 9
2014-06-09 10
2014-06-09 11
2014-06-14 0
2014-06-14 1
2014-06-14 2
2014-06-14 3
2014-06-14 4
2014-06-14 5
2014-06-14 6
2014-06-15 0
2014-06-15 1
2014-06-15 2
2014-06-15 3
2014-06-15 4
2014-06-15 5
2014-06-15 6
2014-06-15 7
2014-09-08 0
2014-09-12 0
2014-09-12 1
2014-11-16 2
2015-05-03 0
2015-05-03 1
2015-05-03 2
2015-05-03 3
2015-05-03 4
2015-05-03 5
2015-05-03 6
2015-05-03 7
2015-05-03 8
2015-05-03 9
2015-05-06 0
2015-05-06 1
2015-05-06 2
2015-07-20 1
2015-07-20 2
2015-07-20 3
2015-08-23 0
2015-08-23 1
2015-08-23 2
2015-08-23 3
2015-08-23 4
2015-08-23 5
2017-03-02 0
2016-06-03 0
2016-06-03 1
2016-06-03 3
2016-06-03 4
2016-06-17 0
2016-08-03 0
2016-08-03 1
2016-08-03 2
2016-08-03 3
2016-12-06 0
2016-12-06 1
2016-11-12 0
2016-06-13 0
2016-06-13 1
2016-06-13 2
2016-06-13 3
2016-06-13 4
2016-07-18 0
2016-07-18 1
2016-07-18 2
2016-09-25 0
2017-07-16 0
2017-07-16 1
2017-07-16 2
2017-07-16 3
2017-07-16 4
2017-07-16 5
2017-07-16 6
2017-07-16 7
2017-07-16 8
2017-07-16 9
2017-07-16 10
2017-07-16 11
2017-07-16 12
2017-07-16 13
2016-06-17 0
2016-07-18 0
2016-07-18 1
2016-07-18 2
2016-09-25 0
2017-09-25 2
2018-04-28 1
2017-05-29 0
2017-05-29 1
2017-05-29 2
2017-05-29 3
2017-05-29 4
2017-05-29 5
2017-05-29 6
2017-05-29 7
2017-05-29 8
2017-05-29 9
2018-11-15 0

<generator object DataFrame.iterrows at 0x0000022FAEC4C678>

In [79]:
type(gp_table)

pandas.core.frame.DataFrame

In [49]:
gp_table

,Date,Time start,"Tay, ms","Period, s","Numpointwin, point","Numpulse, a.u.","Median, adc u","STD, adc u",path obs plot,path obs data,"Count of GP, u","point of gp, point","amp of gp, adc u","W50, point","W10, point",path plot
Time_series,,,,,,,,,,,,,,,,
2010-09-09,09.09.2010,06:48:41.8374290,2.4576,5.988578,2430,34,479.795355,12.035700,./obs_plot/09.09.2010_plot_0531+21.png,.\obs_data\09.09.2010_obs_0531+21.csv,1,45640,600.19722,99.00000,99.0,./gp_plot/09.09.2010_plot_0531+21_0.png
2010-09-12,12.09.2010,06:36:54.1340866,2.4576,5.988594,2430,34,466.859325,10.627263,./obs_plot/12.09.2010_plot_0531+21.png,.\obs_data\12.09.2010_obs_0531+21.csv,1,36629,580.26615,99.00000,99.0,./gp_plot/12.09.2010_plot_0531+21_0.png
2010-10-17,17.10.2010,04:19:17.6313152,2.4576,5.988894,2430,34,651.843725,15.661569,./obs_plot/17.10.2010_plot_0531+21.png,.\obs_data\17.10.2010_obs_0531+21.csv,1,27361,883.96305,99.00000,99.0,./gp_plot/17.10.2010_plot_0531+21_0.png
2010-10-27,27.10.2010,03:39:58.6513328,2.4576,5.989016,2430,34,529.343655,12.211583,./obs_plot/27.10.2010_plot_0531+21.png,.\obs_data\27.10.2010_obs_0531+21.csv,1,53762,711.86288,99.00000,99.0,./gp_plot/27.10.2010_plot_0531+21_0.png
2010-10-28,28.10.2010,03:36:02.7297437,2.4576,5.989029,2430,34,680.000655,16.059009,./obs_plot/28.10.2010_plot_0531+21.png,.\obs_data\28.10.2010_obs_0531+21.csv,1,10499,1052.06685,99.00000,99.0,./gp_plot/28.10.2010_plot_0531+21_0.png
2010-11-09,09.11.2010,02:48:51.9448242,2.4576,5.989196,2430,34,785.025420,19.094841,./obs_plot/09.11.2010_plot_0531+21.png,.\obs_data\09.11.2010_obs_0531+21.csv,1,859,1057.49185,99.00000,99.0,./gp_plot/09.11.2010_plot_0531+21_0.png
2010-11-11,11.11.2010,02:41:00.1358726,2.4576,5.989226,2430,34,710.573110,15.706577,./obs_plot/11.11.2010_plot_0531+21.png,.\obs_data\11.11.2010_obs_0531+21.csv,1,59983,909.40773,99.00000,99.0,./gp_plot/11.11.2010_plot_0531+21_0.png
2010-11-19,19.11.2010,02:09:32.9584922,2.4576,5.989348,2430,34,523.813060,42.777546,./obs_plot/19.11.2010_plot_0531+21.png,.\obs_data\19.11.2010_obs_0531+21.csv,1,35028,1062.29514,98.53965,99.0,./gp_plot/19.11.2010_plot_0531+21_0.png
2010-12-12,12.12.2010,00:39:07.2615385,2.4576,5.989727,2430,34,554.131990,12.696776,./obs_plot/12.12.2010_plot_0531+21.png,.\obs_data\12.12.2010_obs_0531+21.csv,1,63425,688.23183,99.00000,99.0,./gp_plot/12.12.2010_plot_0531+21_0.png
2011-01-06,06.01.2011,22:56:53.8736381,2.4576,5.990163,2430,34,630.468760,14.103142,./obs_plot/06.01.2011_plot_0531+21.png,.\obs_data\06.01.2011_obs_0531+21.csv,1,68635,886.64570,99.00000,99.0,./gp_plot/06.01.2011_plot_0531+21_0.png
2011-01-07,07.01.2011,22:52:57.9513206,2.4576,5.990179,2430,34,700.184275,15.953319,./obs_plot/07.01.2011_plot_0531+21.png,.\obs_data\07.01.2011_obs_0531+21.csv,1,27176,926.77007,99.00000,99.0,./gp_plot/07.01.2011_plot_0531+21_0.png
2011-01-21,21.01.2011,21:57:55.3789634,2.4576,5.990397,2430,34,661.388910,16.808926,./obs_plot/21.01.2011_plot_0531+21.png,.\obs_data\21.01.2011_obs_0531+21.csv,1,75559,848.13441,99.00000,99.0,./gp_plot/21.01.2011_plot_0531+21_0.png
2011-11-10,10.11.2011,02:45:56.7620162,2.4576,5.991566,2430,34,564.670965,12.305343,./obs_plot/10.11.2011_plot_0531+21.png,.\obs_data\10.11.2011_obs_0531+21.csv,1,27812,693.31598,99.00000,99.0,./gp_plot/10.11.2011_plot_0531+21_0.png
2011-11-20,20.11.2011,02:06:37.7641220,2.4576,5.991718,2430,34,605.174350,12.438246,./obs_plot/20.11.2011_plot_0531+21.png,.\obs_data\20.11.2011_obs_0531+21.csv,1,59143,730.16511,99.00000,99.0,./gp_plot/20.11.2011_plot_0531+21_0.png
2011-12-28,28.12.2011,23:33:17.6928672,2.4576,5.992368,2430,34,660.052890,13.924269,./obs_plot/28.12.2011_plot_0531+21.png,.\obs_data\28.12.2011_obs_0531+21.csv,1,57456,800.21706,99.00000,99.0,./gp_plot/28.12.2011_plot_0531+21_0.png
2012-01-02,02.01.2012,23:13:38.3497123,2.4576,5.992454,2430,34,666.021095,15.725955,./obs_plot/02.01.2012_plot_0531+21.png,.\obs_data\02.01.2012_obs_0531+21.csv,1,62400,855.73752,99.00000,99.0,./gp_plot/02.01.2012_plot_0531+21_0.png
2012-02-03,03.02.2012,21:07:49.5709037,2.4576,5.992937,2430,34,789.784760,17.537567,./obs_plot/03.02.2012_plot_0531+21.png,.\obs_data\03.02.2012_obs_0531+21.csv,1,3778,975.73629,99.00000,99.0,./gp_plot/03.02.2012_plot_0531+21_0.png
2012-05-07,07.05.2012,14:58:14.9984903,2.4576,5.993444,2430,34,606.893600,15.336691,./obs_plot/07.05.2012_plot_0531+21.png,.\obs_data\07.05.2012_obs_0531+21.csv,1,14097,782.22209,99.00000,99.0,./gp_plot/07.05.2012_plot_0531+21_0.png
2012-05-07,07.05.2012,14:58:14.9984903,2.4576,5.993444,2430,34,606.893600,15.336691,./obs_plot/07.05.2012_plot_0531+21.png,.\obs_data\07.05.2012_obs_0531+21.csv,1,17333,765.06664,99.00000,99.0,./gp_plot/07.05.2012_plot_0531+21_1.png
2013-05-05,05.05.2013,15:07:07.3981938,2.4576,5.995807,2436,34,566.922440,13.129868,./obs_plot/05.05.2013_plot_0531+21.png,.\obs_data\05.05.2013_obs_0531+21.csv,1,40508,698.46846,99.00000,99.0,./gp_plot/05.05.2013_plot_0531+21_0.png
2013-05-12,12.05.2013,14:39:36.0783653,2.4576,5.995795,2436,34,329.422090,7.186480,./obs_plot/12.05.2013_plot_0531+21.png,.\obs_data\12.05.2013_obs_0531+21.csv,1,39877,407.56635,99.00000,99.0,./gp_plot/12.05.2013_plot_0531+21_0.png
2013-07-01,01.07.2013,11:23:01.1192051,2.4576,5.995640,2436,34,474.876150,11.166924,./obs_plot/01.07.2013_plot_0531+21.png,.\obs_data\01.07.2013_obs_0531+21.csv,1,51759,629.22916,99.00000,99.0,./gp_plot/01.07.2013_plot_0531+21_0.png
2013-07-03,03.07.2013,11:15:09.2967376,2.4576,5.995634,2436,34,539.379595,12.574789,./obs_plot/03.07.2013_plot_0531+21.png,.\obs_data\03.07.2013_obs_0531+21.csv,1,48450,716.06086,99.00000,99.0,./gp_plot/03.07.2013_plot_0531+21_0.png
2013-07-10,10.07.2013,10:47:38.0295486,2.4576,5.995614,2436,34,539.361910,17.295761,./obs_plot/10.07.2013_plot_0531+21.png,.\obs_data\10.07.2013_obs_0531+21.csv,1,13379,787.74780,99.00000,99.0,./gp_plot/10.07.2013_plot_0531+21_0.png
2013-07-21,21.07.2013,10:04:23.1024837,2.4576,5.995590,2436,34,407.326500,10.394655,./obs_plot/21.07.2013_plot_0531+21.png,.\obs_data\21.07.2013_obs_0531+21.csv,1,80276,539.35040,99.00000,99.0,./gp_plot/21.07.2013_plot_0531+21_0.png
2013-08-03,03.08.2013,09:13:16.4301624,2.4576,5.995576,2436,34,478.797115,14.918126,./obs_plot/03.08.2013_plot_0531+21.png,.\obs_data\03.08.2013_obs_0531+21.csv,1,29924,647.12794,99.00000,99.0,./gp_plot/03.08.2013_plot_0531+21_0.png
2013-08-09,09.08.2013,08:49:41.0374565,2.4576,5.995576,2436,34,390.761335,9.227562,./obs_plot/09.08.2013_plot_0531+21.png,.\obs_data\09.08.2013_obs_0531+21.csv,1,77190,514.63277,99.00000,99.0,./gp_plot/09.08.2013_plot_0531+21_0.png
2013-08-12,12.08.2013,08:37:53.3388481,2.4576,5.995578,2436,34,448.733480,9.712239,./obs_plot/12.08.2013_plot_0531+21.png,.\obs_data\12.08.2013_obs_0531+21.csv,1,11178,550.54085,99.00000,99.0,./gp_plot/12.08.2013_plot_0531+21_0.png
2013-08-28,28.08.2013,07:34:58.9213714,2.4576,5.995609,2436,34,250.969920,6.169415,./obs_plot/28.08.2013_plot_0531+21.png,.\obs_data\28.08.2013_obs_0531+21.csv,1,28924,313.25347,99.00000,99.0,./gp_plot/28.08.2013_plot_0531+21_0.png
2013-09-26,26.09.2013,05:40:57.8292770,2.4576,5.995770,2436,34,560.313960,12.273985,./obs_plot/26.09.2013_plot_0531+21.png,.\obs_data\26.09.2013_obs_0531+21.csv,1,10464,704.10759,99.00000,99.0,./gp_plot/26.09.2013_plot_0531+21_0.png
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-06-19,19.06.2018,12:11:19.8103389,2.4576,6.007473,2442,34,34.518425,0.605016,./obs_plot/19.06.2018_plot_0531+21.png,.\obs_data\19.06.2018_obs_0531+21.csv,1,44707,40.76257,99.00000,99.0,./gp_plot/19.06.2018_plot_0531+21_2.png
2018-06-21,21.06.2018,12:03:28.0301532,2.4576,6.007466,2442,34,44.046575,0.753020,./obs_plot/21.06.2018_plot_0531+21.png,.\obs_data\21.06.2018_obs_0531+21.csv,1,71155,59.43324,99.00000,99.0,./gp_plot/21.06.2018_plot_0531+21_0.png
2018-06-22,22.06.2018,11:59:32.1170806,2.4576,6.007463,2442,34,83.721490,1.972318,./obs_plot/22.06.2018_plot_0531+21.png,.\obs_data\22.06.2018_obs_0531+21.csv,1,64211,108.19421,99.00000,99.0,./gp_plot/22.06.2018_plot_0531+21_0.png
2018-06-23,23.06.2018,11:55:36.2230072,2.4576,6.007459,2442,34,41.605565,0.725244,./obs_plot/23.06.2018_plot_0531+21.png,.\obs_data\23.06.2018_obs_0531+21.csv,1,68791,52.81498,99.00000,99.0,./gp_plot/23.06.2018_plot_0531+21_0.png
2018-06-26,26.06.2018,11:43:48.5241661,2.4576,6.007449,2442,34,34.417240,0.589202,./obs_plot/26.06.2018_plot_0531+21.png,.\obs_data\26.06.2018_obs_0531+21.csv,1,68252,45.48245,99.00000,99.0,./gp_plot/26.06.2018_plot_0531+21_0.png
2018-06-28,28.06.2018,11:35:56.7155647,2.4576,6.007443,2442,34,42.446585,0.749204,./obs_plot/28.06.2018_plot_0531+21.png,.\obs_data\28.06.2018_obs_0531+21.csv,1,65779,54.47024,99.00000,99.0,./gp_plot/28.06.2018_plot_0531+21_0.png
2018-06-28,28.06.2018,11:35:56.7155647,2.4576,6.007443,2442,34,42.446585,0.749204,./obs_plot/28.06.2018_plot_0531+21.png,.\obs_data\28.06.2018_obs_0531+21.csv,1,64406,50.87872,99.00000,99.0,./gp_plot/28.06.2018_plot_0531+21_1.png
2018-06-28,28.06.2018,11:35:56.7155647,2.4576,6.007443,2442,34,42.446585,0.749204,./obs_plot/28.06.2018_plot_0531+21.png,.\obs_data\28.06.2018_obs_0531+21.csv,1,15526,50.33873,99.00000,99.0,./gp_plot/28.06.2018_plot_0531+21_2.png
2018-06-30,30.06.2018,11:28:04.9262714,2.4576,6.007437,2442,34,42.925180,0.954394,./obs_plot/30.06.2018_plot_0531+21.png,.\obs_data\30.06.2018_obs_0531+21.csv,1,70579,61.96199,99.00000,99.0,./gp_plot/30.06.2018_plot_0531+21_0.png
2018-07-02,02.07.2018,11:20:13.1263761,2.4576,6.007431,2442,34,34.448155,0.619650,./obs_plot/02.07.2018_plot_0531+21.png,.\obs_data\02.07.2018_obs_0531+21.csv,1,69098,44.34782,99.00000,99.0,./gp_plot/02.07.2018_plot_0531+21_0.png
2018-07-02,02.07.2018,11:20:13.1263761,2.4576,6.007431,2442,34,34.448155,0.619650,./obs_plot/02.07.2018_plot_0531+21.png,.\obs_data\02.07.2018_obs_0531+21.csv,1,3392,42.94066,99.00000,99.0,./gp_plot/02.07.2018_plot_0531+21_1.png
2018-07-03,03.07.2018,11:16:17.2110595,2.4576,6.007427,2442,34,23.622470,0.459372,./obs_plot/03.07.2018_plot_0531+21.png,.\obs_data\03.07.2018_obs_0531+21.csv,1,60107,28.91635,99.00000,99.0,./gp_plot/03.07.2018_plot_0531+21_0.png
2018-07-04,04.07.2018,11:12:21.3199539,2.4576,6.007424,2442,34,24.655335,0.468682,./obs_plot/04.07.2018_plot_0531+21.png,.\obs_data\04.07.2018_obs_0531+21.csv,1,1717,41.86746,99.00000,99.0,./gp_plot/04.07.2018_plot_0531+21_0.png
2018-07-08,08.07.2018,10:56:37.7392120,2.4576,6.007413,2442,34,35.389205,0.625780,./obs_plot/08.07.2018_plot_0531+21.png,.\obs_data\08.07.2018_obs_0531+21.csv,1,61884,41.67602,99.00000,99.0,./gp_plot/08.07.2018_plot_0531+21_0.png
2018-07-10,10.07.2018,10:48:45.9412841,2.4576,6.007407,2442,34,35.109940,0.650467,./obs_plot/10.07.2018_plot_0531+21.png,.\obs_data\10.07.2018_obs_0531+21.csv,1,14581,45.33763,99.00000,99.0,./gp_plot/10.07.2018_plot_0531+21_0.png
2018-07-10,10.07.2018,10:48:45.9412841,2.4576,6.007407,2442,34,35.109940,0.650467,./obs_plot/10.07.2018_plot_0531+21.png,.\obs_data\10.07.2018_obs_0531+21.csv,1,55559,43.09727,99.00000,99.0,./gp_plot/10.07.2018_plot_0531+21_1.png
2018-07-12,12.07.2018,10:40:54.1238784,2.4576,6.007402,2442,34,40.466650,0.767545,./obs_plot/12.07.2018_plot_0531+21.png,.\obs_data\12.07.2018_obs_0531+21.csv,1,67726,49.02581,99.00000,99.0,./gp_plot/12.07.2018_plot_0531+21_0.png
2018-07-12,12.07.2018,10:40:54.1238784,2.4576,6.007402,2442,34,40.466650,0.767545,./obs_plot/12.07.2018_plot_0531+21.png,.\obs_data\12.07.2018_obs_0531+21.csv,1,71623,48.86427,99.00000,99.0,./gp_plot/12.07.2018_plot_0531+21_1.png
2018-07-13,13.07.2018,10:36:58.2439537,2.4576,6.007400,2442,34,81.995615,1.467436,./obs_plot/13.07.2018_plot_0531+21.png,.\obs_data\13.07.2018_obs_0531+21.csv,1,68424,111.40676,99.00000,99.0,./gp_plot/13.07.2018_plot_0531+21_0.png
2018-07-14,14.07.2018,10:33:02.3284180,2.4576,6.007397,2442,34,40.239650,0.706934,./obs_plot/14.07.2018_plot_0531+21.png,.\obs_data\14.07.2018_obs_0531+21.csv,1,3162,53.51444,99.00000,99.0,./gp_plot/14.07.2018_plot_0531+21_0.png
2018-07-14,14.07.2018,10:33:02.3284180,2.4576,6.007397,2442,34,40.239650,0.706934,./obs_plot/14.07.2018_plot_0531+21.png,.\obs_data\14.07.2018_obs_0531+21.csv,1,8348,48.21802,99.00000,99.0,./gp_plot/14.07.2018_plot_0531+21_1.png
2018-07-17,17.07.2018,10:21:14.6168880,2.4576,6.007390,2442,34,42.598690,0.719824,./obs_plot/17.07.2018_plot_0531+21.png,.\obs_data\17.07.2018_obs_0531+21.csv,1,11832,50.77659,99.00000,99.0,./gp_plot/17.07.2018_plot_0531+21_0.png
2018-07-18,18.07.2018,10:17:18.7404689,2.4576,6.007388,2442,34,35.231655,0.617920,./obs_plot/18.07.2018_plot_0531+21.png,.\obs_data\18.07.2018_obs_0531+21.csv,1,37416,44.75431,99.00000,99.0,./gp_plot/18.07.2018_plot_0531+21_0.png
2018-07-19,19.07.2018,10:13:22.8350772,2.4576,6.007386,2442,34,43.179050,0.743790,./obs_plot/19.07.2018_plot_0531+21.png,.\obs_data\19.07.2018_obs_0531+21.csv,1,42451,50.99160,99.00000,99.0,./gp_plot/19.07.2018_plot_0531+21_0.png
2018-07-23,23.07.2018,09:57:39.2218589,2.4576,6.007379,2442,34,32.849335,0.644946,./obs_plot/23.07.2018_plot_0531+21.png,.\obs_data\23.07.2018_obs_0531+21.csv,1,10718,43.79750,99.00000,99.0,./gp_plot/23.07.2018_plot_0531+21_0.png
2018-07-30,30.07.2018,09:30:07.9508142,2.4576,6.007371,2442,34,43.409875,0.744790,./obs_plot/30.07.2018_plot_0531+21.png,.\obs_data\30.07.2018_obs_0531+21.csv,1,30831,52.55985,99.00000,99.0,./gp_plot/30.07.2018_plot_0531+21_0.png
2018-07-30,30.07.2018,09:30:07.9508142,2.4576,6.007371,2442,34,43.409875,0.744790,./obs_plot/30.07.2018_plot_0531+21.png,.\obs_data\30.07.2018_obs_0531+21.csv,1,65049,51.96850,99.00000,99.0,./gp_plot/30.07.2018_plot_0531+21_1.png
2018-08-01,01.08.2018,09:22:16.1254501,2.4576,6.007370,2442,34,43.385835,0.825559,./obs_plot/01.08.2018_plot_0531+21.png,.\obs_data\01.08.2018_obs_0531+21.csv,1,32284,55.47425,99.00000,99.0,./gp_plot/01.08.2018_plot_0531+21_0.png
2018-08-07,07.08.2018,08:58:40.7482719,2.4576,6.007368,2442,34,34.343015,0.572226,./obs_plot/07.08.2018_plot_0531+21.png,.\obs_data\07.08.2018_obs_0531+21.csv,1,59629,40.89166,99.00000,99.0,./gp_plot/07.08.2018_plot_0531+21_0.png
2018-08-16,16.08.2018,08:23:17.6504230,2.4576,6.007374,2442,34,37.205810,0.688389,./obs_plot/16.08.2018_plot_0531+21.png,.\obs_data\16.08.2018_obs_0531+21.csv,1,10504,45.30143,99.00000,99.0,./gp_plot/16.08.2018_plot_0531+21_0.png

In [50]:
gp_table.to_csv('crab_gp_kaz_10_2016-2018.csv',  sep='\t', header=True, index=False)

In [83]:
row['номер импульса']

0

In [98]:
gp_table.drop(
    gp_table[
        (gp_table.index == '2017-02-03')
        & (gp_table['path plot'].str.contains('_1.png'))].index)

TypeError: 'NoneType' object is not iterable

In [35]:
df = pd.DataFrame(np.arange(24).reshape(6,4),columns=['A', 'B', 'C', 'D'])

In [40]:
df

    A   B   C     D
0   0   1   2     3
1   4   5   6   ada
2   8   9  10  bada
3  12  13  14    15
4  16  17  18    19
5  20  21  22    23

In [37]:
dd = pd.DataFrame([[1, 'ada'],[2, 'bada'],[5, '3']],columns=['A1', 'B1'])

In [32]:
dd

   A1    B1
0   1   ada
1   2  bada
2   5     3

In [41]:
for index, row in dd.iterrows():
    df = df.drop(df[(df.index == row['A1']) & (df['D'].str.contains(row['B1']))].index)

In [42]:
df

    A   B   C   D
0   0   1   2   3
3  12  13  14  15
4  16  17  18  19
5  20  21  22  23