In [1]:
import os
import sys
import glob
import datetime

import numpy as np
import pandas as pd

In [50]:
gp_table = pd.read_table('crab_gp_kaz_10_2016-2018.csv', sep='\t')
gp_table['Time_series'] = pd.to_datetime(gp_table['Date'], format='%d.%m.%Y', errors='ignore')
gp_table = gp_table.set_index('Time_series')
print(len(gp_table))

715

## Удаление аномальных событий и калибровочных ступений

In [51]:
no_GP = pd.read_table('noGP.csv', sep=',')

In [52]:
no_GP

          дата  номер импульса   Примечание
0   2017-03-02               0  anomal wide
1   2016-06-03               0  anomal wide
2   2016-06-03               1        calib
3   2016-06-03               3        calib
4   2016-06-03               4        calib
5   2016-08-03               0  anomal wide
6   2016-08-03               1        calib
7   2016-08-03               2        calib
8   2016-08-03               3        calib
9   2016-12-06               0  anomal wide
10  2016-12-06               1  anomal wide
11  2016-11-12               0        noise
12  2016-06-13               0        unind
13  2016-06-13               1        calib
14  2016-06-13               2        calib
15  2016-06-13               3        calib
16  2016-06-13               4        calib
17  2017-07-16               0  anomal wide
18  2017-07-16               1        calib
19  2017-07-16               2        calib
20  2017-07-16               3        calib
21  2017-07-16               4        calib
22  2017-07-16               5        calib
23  2017-07-16               6        calib
24  2017-07-16               7        calib
25  2017-07-16               8        calib
26  2017-07-16               9        calib
27  2017-07-16              10        calib
28  2017-07-16              11        calib
29  2017-07-16              12        calib
30  2017-07-16              13        calib
31  2016-06-17               0        noise
32  2016-07-18               0  anomal wide
33  2016-07-18               1        calib
34  2016-07-18               2        calib
35  2016-09-25               0        noise
36  2017-09-25               2        noise
37  2018-04-28               1  anomal wide
38  2017-05-29               0  anomal wide
39  2017-05-29               1        calib
40  2017-05-29               2        calib
41  2017-05-29               3        calib
42  2017-05-29               4        calib
43  2017-05-29               5        calib
44  2017-05-29               6        calib
45  2017-05-29               7        calib
46  2017-05-29               8        calib
47  2017-05-29               9        calib

In [53]:
gp_table.head()

,Date,Time start,"Tay, ms","Period, s","Numpointwin, point","Numpulse, a.u.","Median, adc u","STD, adc u",path obs plot,path obs data,"Count of GP, u","point of gp, point","amp of gp, adc u","W50, point","W10, point",path plot
Time_series,,,,,,,,,,,,,,,,
2016-01-15,15.01.2016,22:22:38.4654350,2.4576,6.002102,2439,34,719.50219,11.528548,./obs_plot/15.01.2016_plot_0531+21.png,.\obs_data\15.01.2016_obs_0531+21.csv,1,61785,924.25417,99.0,99.0,./gp_plot/15.01.2016_plot_0531+21_0.png
2016-01-28,28.01.2016,21:31:31.7480869,2.4576,6.002294,2439,34,538.25044,8.978479,./obs_plot/28.01.2016_plot_0531+21.png,.\obs_data\28.01.2016_obs_0531+21.csv,1,27919,705.48172,99.0,99.0,./gp_plot/28.01.2016_plot_0531+21_0.png
2016-02-02,02.02.2016,21:11:52.2432174,2.4576,6.002363,2439,34,801.44774,12.969247,./obs_plot/02.02.2016_plot_0531+21.png,.\obs_data\02.02.2016_obs_0531+21.csv,1,5057,1041.97474,99.0,99.0,./gp_plot/02.02.2016_plot_0531+21_0.png
2016-02-04,04.02.2016,21:04:00.4663017,2.4576,6.002389,2439,34,770.98711,12.384724,./obs_plot/04.02.2016_plot_0531+21.png,.\obs_data\04.02.2016_obs_0531+21.csv,1,39723,912.55581,99.0,99.0,./gp_plot/04.02.2016_plot_0531+21_0.png
2016-02-07,07.02.2016,20:52:12.7584114,2.4576,6.002428,2439,34,734.38958,11.736352,./obs_plot/07.02.2016_plot_0531+21.png,.\obs_data\07.02.2016_obs_0531+21.csv,1,39294,878.88936,99.0,99.0,./gp_plot/07.02.2016_plot_0531+21_0.png

In [54]:
gp_table[(gp_table.index == '2016-06-03') & (gp_table['path plot'].str.contains('_1.png'))]

Empty DataFrame
Columns: [Date, Time start, Tay, ms, Period, s, Numpointwin, point, Numpulse, a.u., Median, adc u, STD, adc u, path obs plot, path obs data, Count of GP, u, point of gp, point, amp of gp, adc u, W50, point, W10, point, path plot]
Index: []

In [55]:
for index, row in no_GP.iterrows():
    print(row['дата'], row['номер импульса'])
    gp_table = gp_table.drop(
        gp_table[
            ((gp_table.index == row['дата']) 
             & (gp_table['path plot'].str.contains('_' + str(row['номер импульса']) + '.png')))].index)

2017-03-02 0
2016-06-03 0
2016-06-03 1
2016-06-03 3
2016-06-03 4
2016-08-03 0
2016-08-03 1
2016-08-03 2
2016-08-03 3
2016-12-06 0
2016-12-06 1
2016-11-12 0
2016-06-13 0
2016-06-13 1
2016-06-13 2
2016-06-13 3
2016-06-13 4
2017-07-16 0
2017-07-16 1
2017-07-16 2
2017-07-16 3
2017-07-16 4
2017-07-16 5
2017-07-16 6
2017-07-16 7
2017-07-16 8
2017-07-16 9
2017-07-16 10
2017-07-16 11
2017-07-16 12
2017-07-16 13
2016-06-17 0
2016-07-18 0
2016-07-18 1
2016-07-18 2
2016-09-25 0
2017-09-25 2
2018-04-28 1
2017-05-29 0
2017-05-29 1
2017-05-29 2
2017-05-29 3
2017-05-29 4
2017-05-29 5
2017-05-29 6
2017-05-29 7
2017-05-29 8
2017-05-29 9

In [56]:
len(gp_table)

715

In [79]:
type(gp_table)

pandas.core.frame.DataFrame

In [181]:
gp_table

,Date,Time start,"Tay, ms","Period, s","Numpointwin, point","Numpulse, a.u.","Median, adc u","STD, adc u",path obs plot,path obs data,"Count of GP, u","point of gp, point","amp of gp, adc u","W50, point","W10, point",path plot
Time_series,,,,,,,,,,,,,,,,
2016-01-15,15.01.2016,22:22:38.4654350,2.4576,6.002102,2439,34,719.502190,11.528548,./obs_plot/15.01.2016_plot_0531+21.png,.\obs_data\15.01.2016_obs_0531+21.csv,1,61785,924.25417,99.0,99.0,./gp_plot/15.01.2016_plot_0531+21_0.png
2016-01-28,28.01.2016,21:31:31.7480869,2.4576,6.002294,2439,34,538.250440,8.978479,./obs_plot/28.01.2016_plot_0531+21.png,.\obs_data\28.01.2016_obs_0531+21.csv,1,27919,705.48172,99.0,99.0,./gp_plot/28.01.2016_plot_0531+21_0.png
2016-02-02,02.02.2016,21:11:52.2432174,2.4576,6.002363,2439,34,801.447740,12.969247,./obs_plot/02.02.2016_plot_0531+21.png,.\obs_data\02.02.2016_obs_0531+21.csv,1,5057,1041.97474,99.0,99.0,./gp_plot/02.02.2016_plot_0531+21_0.png
2016-02-04,04.02.2016,21:04:00.4663017,2.4576,6.002389,2439,34,770.987110,12.384724,./obs_plot/04.02.2016_plot_0531+21.png,.\obs_data\04.02.2016_obs_0531+21.csv,1,39723,912.55581,99.0,99.0,./gp_plot/04.02.2016_plot_0531+21_0.png
2016-02-07,07.02.2016,20:52:12.7584114,2.4576,6.002428,2439,34,734.389580,11.736352,./obs_plot/07.02.2016_plot_0531+21.png,.\obs_data\07.02.2016_obs_0531+21.csv,1,39294,878.88936,99.0,99.0,./gp_plot/07.02.2016_plot_0531+21_0.png
2016-02-10,10.02.2016,20:40:25.0676345,2.4576,6.002465,2439,34,530.659450,8.431679,./obs_plot/10.02.2016_plot_0531+21.png,.\obs_data\10.02.2016_obs_0531+21.csv,1,37770,642.85162,99.0,99.0,./gp_plot/10.02.2016_plot_0531+21_0.png
2016-02-10,10.02.2016,20:40:25.0676345,2.4576,6.002465,2439,34,530.659450,8.431679,./obs_plot/10.02.2016_plot_0531+21.png,.\obs_data\10.02.2016_obs_0531+21.csv,1,44730,625.72359,99.0,99.0,./gp_plot/10.02.2016_plot_0531+21_1.png
2016-02-13,13.02.2016,20:28:37.3627548,2.4576,6.002501,2439,34,737.515830,11.689590,./obs_plot/13.02.2016_plot_0531+21.png,.\obs_data\13.02.2016_obs_0531+21.csv,1,8564,971.96368,99.0,99.0,./gp_plot/13.02.2016_plot_0531+21_0.png
2016-02-18,18.02.2016,20:08:57.8583717,2.4576,6.002557,2439,34,759.471920,12.946473,./obs_plot/18.02.2016_plot_0531+21.png,.\obs_data\18.02.2016_obs_0531+21.csv,1,42454,1138.63782,99.0,99.0,./gp_plot/18.02.2016_plot_0531+21_0.png
2016-02-18,18.02.2016,20:08:57.8583717,2.4576,6.002557,2439,34,759.471920,12.946473,./obs_plot/18.02.2016_plot_0531+21.png,.\obs_data\18.02.2016_obs_0531+21.csv,1,35427,897.41052,99.0,99.0,./gp_plot/18.02.2016_plot_0531+21_1.png
2016-02-19,19.02.2016,20:05:01.9800163,2.4576,6.002568,2439,34,786.454500,13.041510,./obs_plot/19.02.2016_plot_0531+21.png,.\obs_data\19.02.2016_obs_0531+21.csv,1,32133,1113.06224,99.0,99.0,./gp_plot/19.02.2016_plot_0531+21_0.png
2016-03-15,15.03.2016,18:26:44.4759025,2.4576,6.002780,2439,34,452.814900,7.527520,./obs_plot/15.03.2016_plot_0531+21.png,.\obs_data\15.03.2016_obs_0531+21.csv,1,36025,548.65624,99.0,99.0,./gp_plot/15.03.2016_plot_0531+21_0.png
2016-03-15,15.03.2016,18:26:44.4759025,2.4576,6.002780,2439,34,452.814900,7.527520,./obs_plot/15.03.2016_plot_0531+21.png,.\obs_data\15.03.2016_obs_0531+21.csv,1,11004,536.73206,99.0,99.0,./gp_plot/15.03.2016_plot_0531+21_1.png
2016-03-20,20.03.2016,18:07:04.9883408,2.4576,6.002809,2439,34,452.711390,7.617761,./obs_plot/20.03.2016_plot_0531+21.png,.\obs_data\20.03.2016_obs_0531+21.csv,1,17424,563.26944,99.0,99.0,./gp_plot/20.03.2016_plot_0531+21_0.png
2016-03-21,21.03.2016,18:03:09.0736017,2.4576,6.002814,2439,34,438.439590,7.539236,./obs_plot/21.03.2016_plot_0531+21.png,.\obs_data\21.03.2016_obs_0531+21.csv,1,61761,522.64954,99.0,99.0,./gp_plot/21.03.2016_plot_0531+21_0.png
2016-03-22,22.03.2016,17:59:13.1655149,2.4576,6.002819,2439,34,417.106900,6.588861,./obs_plot/22.03.2016_plot_0531+21.png,.\obs_data\22.03.2016_obs_0531+21.csv,1,39379,495.16131,99.0,99.0,./gp_plot/22.03.2016_plot_0531+21_0.png
2016-03-23,23.03.2016,17:55:17.2617168,2.4576,6.002824,2439,34,431.732380,6.856764,./obs_plot/23.03.2016_plot_0531+21.png,.\obs_data\23.03.2016_obs_0531+21.csv,1,37144,529.27591,99.0,99.0,./gp_plot/23.03.2016_plot_0531+21_0.png
2016-03-23,23.03.2016,17:55:17.2617168,2.4576,6.002824,2439,34,431.732380,6.856764,./obs_plot/23.03.2016_plot_0531+21.png,.\obs_data\23.03.2016_obs_0531+21.csv,1,39792,512.11817,99.0,99.0,./gp_plot/23.03.2016_plot_0531+21_1.png
2016-03-27,27.03.2016,17:39:33.6760330,2.4576,6.002842,2439,34,468.937110,7.920702,./obs_plot/27.03.2016_plot_0531+21.png,.\obs_data\27.03.2016_obs_0531+21.csv,1,73001,591.57064,99.0,99.0,./gp_plot/27.03.2016_plot_0531+21_0.png
2016-03-27,27.03.2016,17:39:33.6760330,2.4576,6.002842,2439,34,468.937110,7.920702,./obs_plot/27.03.2016_plot_0531+21.png,.\obs_data\27.03.2016_obs_0531+21.csv,1,59490,559.20208,99.0,99.0,./gp_plot/27.03.2016_plot_0531+21_1.png
2016-03-28,28.03.2016,17:35:37.7920722,2.4576,6.002846,2439,34,444.144530,7.315560,./obs_plot/28.03.2016_plot_0531+21.png,.\obs_data\28.03.2016_obs_0531+21.csv,1,70811,569.64418,99.0,99.0,./gp_plot/28.03.2016_plot_0531+21_0.png
2016-04-02,02.04.2016,17:15:58.2776222,2.4576,6.002864,2439,34,428.378590,6.819058,./obs_plot/02.04.2016_plot_0531+21.png,.\obs_data\02.04.2016_obs_0531+21.csv,1,46933,520.32002,99.0,99.0,./gp_plot/02.04.2016_plot_0531+21_0.png
2016-04-05,05.04.2016,17:04:10.5677986,2.4576,6.002873,2439,34,426.474130,7.796177,./obs_plot/05.04.2016_plot_0531+21.png,.\obs_data\05.04.2016_obs_0531+21.csv,1,67211,513.56196,99.0,99.0,./gp_plot/05.04.2016_plot_0531+21_0.png
2016-04-06,06.04.2016,17:00:14.6764001,2.4576,6.002875,2439,34,366.286950,6.404470,./obs_plot/06.04.2016_plot_0531+21.png,.\obs_data\06.04.2016_obs_0531+21.csv,1,67136,430.51483,99.0,99.0,./gp_plot/06.04.2016_plot_0531+21_0.png
2016-04-07,07.04.2016,16:56:18.7867221,2.4576,6.002878,2439,34,253.990160,4.384502,./obs_plot/07.04.2016_plot_0531+21.png,.\obs_data\07.04.2016_obs_0531+21.csv,1,17624,349.00702,99.0,99.0,./gp_plot/07.04.2016_plot_0531+21_0.png
2016-04-10,10.04.2016,16:44:31.0694999,2.4576,6.002884,2439,34,370.159930,6.552142,./obs_plot/10.04.2016_plot_0531+21.png,.\obs_data\10.04.2016_obs_0531+21.csv,1,36052,468.02463,99.0,99.0,./gp_plot/10.04.2016_plot_0531+21_0.png
2016-04-19,19.04.2016,16:09:07.9758057,2.4576,6.002894,2439,34,389.319280,7.322662,./obs_plot/19.04.2016_plot_0531+21.png,.\obs_data\19.04.2016_obs_0531+21.csv,1,31119,508.81602,99.0,99.0,./gp_plot/19.04.2016_plot_0531+21_0.png
2016-04-20,20.04.2016,16:05:12.0741262,2.4576,6.002895,2439,34,361.824550,7.521681,./obs_plot/20.04.2016_plot_0531+21.png,.\obs_data\20.04.2016_obs_0531+21.csv,1,67163,464.50014,99.0,99.0,./gp_plot/20.04.2016_plot_0531+21_0.png
2016-04-21,21.04.2016,16:01:16.1786479,2.4576,6.002895,2439,34,388.417050,7.183747,./obs_plot/21.04.2016_plot_0531+21.png,.\obs_data\21.04.2016_obs_0531+21.csv,1,74954,489.03611,99.0,99.0,./gp_plot/21.04.2016_plot_0531+21_0.png
2016-04-21,21.04.2016,16:01:16.1786479,2.4576,6.002895,2439,34,388.417050,7.183747,./obs_plot/21.04.2016_plot_0531+21.png,.\obs_data\21.04.2016_obs_0531+21.csv,1,72514,486.02998,99.0,99.0,./gp_plot/21.04.2016_plot_0531+21_1.png
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-06-11,11.06.2018,12:42:47.0130424,2.4576,6.007501,2442,34,24.798310,0.411042,./obs_plot/11.06.2018_plot_0531+21.png,.\obs_data\11.06.2018_obs_0531+21.csv,1,5599,29.17972,99.0,99.0,./gp_plot/11.06.2018_plot_0531+21_1.png
2018-06-13,13.06.2018,12:34:55.2300338,2.4576,6.007494,2442,34,36.236645,0.645437,./obs_plot/13.06.2018_plot_0531+21.png,.\obs_data\13.06.2018_obs_0531+21.csv,1,50579,48.79419,99.0,99.0,./gp_plot/13.06.2018_plot_0531+21_0.png
2018-06-15,15.06.2018,12:27:03.4124486,2.4576,6.007487,2442,34,13.585950,0.226075,./obs_plot/15.06.2018_plot_0531+21.png,.\obs_data\15.06.2018_obs_0531+21.csv,1,75762,17.58974,99.0,99.0,./gp_plot/15.06.2018_plot_0531+21_0.png
2018-06-19,19.06.2018,12:11:19.8103389,2.4576,6.007473,2442,34,34.518425,0.605016,./obs_plot/19.06.2018_plot_0531+21.png,.\obs_data\19.06.2018_obs_0531+21.csv,1,39851,45.11944,99.0,99.0,./gp_plot/19.06.2018_plot_0531+21_0.png
2018-06-19,19.06.2018,12:11:19.8103389,2.4576,6.007473,2442,34,34.518425,0.605016,./obs_plot/19.06.2018_plot_0531+21.png,.\obs_data\19.06.2018_obs_0531+21.csv,1,64106,41.34495,99.0,99.0,./gp_plot/19.06.2018_plot_0531+21_1.png
2018-06-19,19.06.2018,12:11:19.8103389,2.4576,6.007473,2442,34,34.518425,0.605016,./obs_plot/19.06.2018_plot_0531+21.png,.\obs_data\19.06.2018_obs_0531+21.csv,1,44707,40.76257,99.0,99.0,./gp_plot/19.06.2018_plot_0531+21_2.png
2018-06-21,21.06.2018,12:03:28.0301532,2.4576,6.007466,2442,34,44.046575,0.753020,./obs_plot/21.06.2018_plot_0531+21.png,.\obs_data\21.06.2018_obs_0531+21.csv,1,71155,59.43324,99.0,99.0,./gp_plot/21.06.2018_plot_0531+21_0.png
2018-06-22,22.06.2018,11:59:32.1170806,2.4576,6.007463,2442,34,83.721490,1.972318,./obs_plot/22.06.2018_plot_0531+21.png,.\obs_data\22.06.2018_obs_0531+21.csv,1,64211,108.19421,99.0,99.0,./gp_plot/22.06.2018_plot_0531+21_0.png
2018-06-23,23.06.2018,11:55:36.2230072,2.4576,6.007459,2442,34,41.605565,0.725244,./obs_plot/23.06.2018_plot_0531+21.png,.\obs_data\23.06.2018_obs_0531+21.csv,1,68791,52.81498,99.0,99.0,./gp_plot/23.06.2018_plot_0531+21_0.png
2018-06-26,26.06.2018,11:43:48.5241661,2.4576,6.007449,2442,34,34.417240,0.589202,./obs_plot/26.06.2018_plot_0531+21.png,.\obs_data\26.06.2018_obs_0531+21.csv,1,68252,45.48245,99.0,99.0,./gp_plot/26.06.2018_plot_0531+21_0.png
2018-06-28,28.06.2018,11:35:56.7155647,2.4576,6.007443,2442,34,42.446585,0.749204,./obs_plot/28.06.2018_plot_0531+21.png,.\obs_data\28.06.2018_obs_0531+21.csv,1,65779,54.47024,99.0,99.0,./gp_plot/28.06.2018_plot_0531+21_0.png
2018-06-28,28.06.2018,11:35:56.7155647,2.4576,6.007443,2442,34,42.446585,0.749204,./obs_plot/28.06.2018_plot_0531+21.png,.\obs_data\28.06.2018_obs_0531+21.csv,1,64406,50.87872,99.0,99.0,./gp_plot/28.06.2018_plot_0531+21_1.png
2018-06-28,28.06.2018,11:35:56.7155647,2.4576,6.007443,2442,34,42.446585,0.749204,./obs_plot/28.06.2018_plot_0531+21.png,.\obs_data\28.06.2018_obs_0531+21.csv,1,15526,50.33873,99.0,99.0,./gp_plot/28.06.2018_plot_0531+21_2.png
2018-06-30,30.06.2018,11:28:04.9262714,2.4576,6.007437,2442,34,42.925180,0.954394,./obs_plot/30.06.2018_plot_0531+21.png,.\obs_data\30.06.2018_obs_0531+21.csv,1,70579,61.96199,99.0,99.0,./gp_plot/30.06.2018_plot_0531+21_0.png
2018-07-02,02.07.2018,11:20:13.1263761,2.4576,6.007431,2442,34,34.448155,0.619650,./obs_plot/02.07.2018_plot_0531+21.png,.\obs_data\02.07.2018_obs_0531+21.csv,1,69098,44.34782,99.0,99.0,./gp_plot/02.07.2018_plot_0531+21_0.png
2018-07-02,02.07.2018,11:20:13.1263761,2.4576,6.007431,2442,34,34.448155,0.619650,./obs_plot/02.07.2018_plot_0531+21.png,.\obs_data\02.07.2018_obs_0531+21.csv,1,3392,42.94066,99.0,99.0,./gp_plot/02.07.2018_plot_0531+21_1.png
2018-07-03,03.07.2018,11:16:17.2110595,2.4576,6.007427,2442,34,23.622470,0.459372,./obs_plot/03.07.2018_plot_0531+21.png,.\obs_data\03.07.2018_obs_0531+21.csv,1,60107,28.91635,99.0,99.0,./gp_plot/03.07.2018_plot_0531+21_0.png
2018-07-04,04.07.2018,11:12:21.3199539,2.4576,6.007424,2442,34,24.655335,0.468682,./obs_plot/04.07.2018_plot_0531+21.png,.\obs_data\04.07.2018_obs_0531+21.csv,1,1717,41.86746,99.0,99.0,./gp_plot/04.07.2018_plot_0531+21_0.png
2018-07-08,08.07.2018,10:56:37.7392120,2.4576,6.007413,2442,34,35.389205,0.625780,./obs_plot/08.07.2018_plot_0531+21.png,.\obs_data\08.07.2018_obs_0531+21.csv,1,61884,41.67602,99.0,99.0,./gp_plot/08.07.2018_plot_0531+21_0.png
2018-07-10,10.07.2018,10:48:45.9412841,2.4576,6.007407,2442,34,35.109940,0.650467,./obs_plot/10.07.2018_plot_0531+21.png,.\obs_data\10.07.2018_obs_0531+21.csv,1,14581,45.33763,99.0,99.0,./gp_plot/10.07.2018_plot_0531+21_0.png
2018-07-10,10.07.2018,10:48:45.9412841,2.4576,6.007407,2442,34,35.109940,0.650467,./obs_plot/10.07.2018_plot_0531+21.png,.\obs_data\10.07.2018_obs_0531+21.csv,1,55559,43.09727,99.0,99.0,./gp_plot/10.07.2018_plot_0531+21_1.png
2018-07-12,12.07.2018,10:40:54.1238784,2.4576,6.007402,2442,34,40.466650,0.767545,./obs_plot/12.07.2018_plot_0531+21.png,.\obs_data\12.07.2018_obs_0531+21.csv,1,67726,49.02581,99.0,99.0,./gp_plot/12.07.2018_plot_0531+21_0.png
2018-07-12,12.07.2018,10:40:54.1238784,2.4576,6.007402,2442,34,40.466650,0.767545,./obs_plot/12.07.2018_plot_0531+21.png,.\obs_data\12.07.2018_obs_0531+21.csv,1,71623,48.86427,99.0,99.0,./gp_plot/12.07.2018_plot_0531+21_1.png
2018-07-13,13.07.2018,10:36:58.2439537,2.4576,6.007400,2442,34,81.995615,1.467436,./obs_plot/13.07.2018_plot_0531+21.png,.\obs_data\13.07.2018_obs_0531+21.csv,1,68424,111.40676,99.0,99.0,./gp_plot/13.07.2018_plot_0531+21_0.png
2018-07-14,14.07.2018,10:33:02.3284180,2.4576,6.007397,2442,34,40.239650,0.706934,./obs_plot/14.07.2018_plot_0531+21.png,.\obs_data\14.07.2018_obs_0531+21.csv,1,3162,53.51444,99.0,99.0,./gp_plot/14.07.2018_plot_0531+21_0.png
2018-07-14,14.07.2018,10:33:02.3284180,2.4576,6.007397,2442,34,40.239650,0.706934,./obs_plot/14.07.2018_plot_0531+21.png,.\obs_data\14.07.2018_obs_0531+21.csv,1,8348,48.21802,99.0,99.0,./gp_plot/14.07.2018_plot_0531+21_1.png
2018-07-17,17.07.2018,10:21:14.6168880,2.4576,6.007390,2442,34,42.598690,0.719824,./obs_plot/17.07.2018_plot_0531+21.png,.\obs_data\17.07.2018_obs_0531+21.csv,1,11832,50.77659,99.0,99.0,./gp_plot/17.07.2018_plot_0531+21_0.png
2018-07-18,18.07.2018,10:17:18.7404689,2.4576,6.007388,2442,34,35.231655,0.617920,./obs_plot/18.07.2018_plot_0531+21.png,.\obs_data\18.07.2018_obs_0531+21.csv,1,37416,44.75431,99.0,99.0,./gp_plot/18.07.2018_plot_0531+21_0.png
2018-07-19,19.07.2018,10:13:22.8350772,2.4576,6.007386,2442,34,43.179050,0.743790,./obs_plot/19.07.2018_plot_0531+21.png,.\obs_data\19.07.2018_obs_0531+21.csv,1,42451,50.99160,99.0,99.0,./gp_plot/19.07.2018_plot_0531+21_0.png
2018-07-23,23.07.2018,09:57:39.2218589,2.4576,6.007379,2442,34,32.849335,0.644946,./obs_plot/23.07.2018_plot_0531+21.png,.\obs_data\23.07.2018_obs_0531+21.csv,1,10718,43.79750,99.0,99.0,./gp_plot/23.07.2018_plot_0531+21_0.png

In [49]:
gp_table.to_csv('crab_gp_kaz_10_2016-2018.csv',  sep='\t', header=True, index=False)

In [83]:
row['номер импульса']

0

In [98]:
gp_table.drop(
    gp_table[
        (gp_table.index == '2017-02-03')
        & (gp_table['path plot'].str.contains('_1.png'))].index)

TypeError: 'NoneType' object is not iterable

In [35]:
df = pd.DataFrame(np.arange(24).reshape(6,4),columns=['A', 'B', 'C', 'D'])

In [40]:
df

    A   B   C     D
0   0   1   2     3
1   4   5   6   ada
2   8   9  10  bada
3  12  13  14    15
4  16  17  18    19
5  20  21  22    23

In [37]:
dd = pd.DataFrame([[1, 'ada'],[2, 'bada'],[5, '3']],columns=['A1', 'B1'])

In [32]:
dd

   A1    B1
0   1   ada
1   2  bada
2   5     3

In [41]:
for index, row in dd.iterrows():
    df = df.drop(df[(df.index == row['A1']) & (df['D'].str.contains(row['B1']))].index)

In [42]:
df

    A   B   C   D
0   0   1   2   3
3  12  13  14  15
4  16  17  18  19
5  20  21  22  23