In [17]:
import os
import sys
import glob
import platform
import datetime

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from tqdm import tqdm_notebook
from astropy import units as u
from astropy.time import Time

In [3]:
gp_table = pd.read_table('crab_gp_kaz_10_2010-2018_calib_sigma.csv', sep='\t')

In [4]:
gp_table.head()

,Date,Time start,"Tay, ms","Period, s","Numpointwin, point","Numpulse, a.u.","Median, adc u","STD, adc u",path obs plot,path obs data,"Count of GP, u","point of gp, point","amp of gp, adc u","amp of gp, snr","W50, point","W10, point",path plot,fName
0,13.02.2010,20:26:28.9413394,2.4576,5.988346,2430,34,1719.973935,7.172373,./obs_plot/13.02.2010_plot_0531+21.png,.\obs_data\13.02.2010_obs_0531+21.csv,1,51612,45.817525,6.388056,17.82990,60.28605,./gp_plot/13.02.2010_plot_0531+21_0.png,./gp_plot_txt/13.02.2010_plot_0531+21_0.csv
1,04.09.2010,07:08:21.3085403,2.4576,5.988555,2430,34,1719.899290,7.332353,./obs_plot/04.09.2010_plot_0531+21.png,.\obs_data\04.09.2010_obs_0531+21.csv,1,67994,41.604220,5.674061,48.41100,55.88550,./gp_plot/04.09.2010_plot_0531+21_0.png,./gp_plot_txt/04.09.2010_plot_0531+21_0.csv
2,04.09.2010,07:08:21.3085403,2.4576,5.988555,2430,34,1719.899290,7.332353,./obs_plot/04.09.2010_plot_0531+21.png,.\obs_data\04.09.2010_obs_0531+21.csv,1,77716,38.214550,5.211772,45.40635,54.73215,./gp_plot/04.09.2010_plot_0531+21_1.png,./gp_plot_txt/04.09.2010_plot_0531+21_1.csv
3,04.09.2010,07:08:21.3085403,2.4576,5.988555,2430,34,1719.899290,7.332353,./obs_plot/04.09.2010_plot_0531+21.png,.\obs_data\04.09.2010_obs_0531+21.csv,1,80184,36.960590,5.040754,5.73750,15.00000,./gp_plot/04.09.2010_plot_0531+21_2.png,./gp_plot_txt/04.09.2010_plot_0531+21_2.csv
4,04.09.2010,07:08:21.3085403,2.4576,5.988555,2430,34,1719.899290,7.332353,./obs_plot/04.09.2010_plot_0531+21.png,.\obs_data\04.09.2010_obs_0531+21.csv,1,72868,36.738000,5.010397,6.30135,41.52060,./gp_plot/04.09.2010_plot_0531+21_3.png,./gp_plot_txt/04.09.2010_plot_0531+21_3.csv

In [5]:
gp_table['MJD_start'] = None
gp_table['MJD_stop'] = None

In [6]:
for index, row in gp_table.iterrows():
    day, month, year = row['Date'].split('.')
    time_utc_start = (Time('{}-{}-{}T'.format(year, month, day) + row['Time start'], precision=7)
            - 4*u.hour)
    time_utc_stop = (time_utc_start
                     + (int(row['Numpulse, a.u.']) - 1)
                     *int(row['Numpointwin, point'])
                     *float(row['Tay, ms'])*u.millisecond)
    gp_table.loc[index,'MJD_start'] = str(time_utc_start.mjd)
    gp_table.loc[index,'MJD_stop'] = str(time_utc_stop.mjd)

In [7]:
gp_table.head()

,Date,Time start,"Tay, ms","Period, s","Numpointwin, point","Numpulse, a.u.","Median, adc u","STD, adc u",path obs plot,path obs data,"Count of GP, u","point of gp, point","amp of gp, adc u","amp of gp, snr","W50, point","W10, point",path plot,fName,MJD_start,MJD_stop
0,13.02.2010,20:26:28.9413394,2.4576,5.988346,2430,34,1719.973935,7.172373,./obs_plot/13.02.2010_plot_0531+21.png,.\obs_data\13.02.2010_obs_0531+21.csv,1,51612,45.817525,6.388056,17.82990,60.28605,./gp_plot/13.02.2010_plot_0531+21_0.png,./gp_plot_txt/13.02.2010_plot_0531+21_0.csv,55240.685057191426,55240.68733815143
1,04.09.2010,07:08:21.3085403,2.4576,5.988555,2430,34,1719.899290,7.332353,./obs_plot/04.09.2010_plot_0531+21.png,.\obs_data\04.09.2010_obs_0531+21.csv,1,67994,41.604220,5.674061,48.41100,55.88550,./gp_plot/04.09.2010_plot_0531+21_0.png,./gp_plot_txt/04.09.2010_plot_0531+21_0.csv,55443.13080218218,55443.13308314218
2,04.09.2010,07:08:21.3085403,2.4576,5.988555,2430,34,1719.899290,7.332353,./obs_plot/04.09.2010_plot_0531+21.png,.\obs_data\04.09.2010_obs_0531+21.csv,1,77716,38.214550,5.211772,45.40635,54.73215,./gp_plot/04.09.2010_plot_0531+21_1.png,./gp_plot_txt/04.09.2010_plot_0531+21_1.csv,55443.13080218218,55443.13308314218
3,04.09.2010,07:08:21.3085403,2.4576,5.988555,2430,34,1719.899290,7.332353,./obs_plot/04.09.2010_plot_0531+21.png,.\obs_data\04.09.2010_obs_0531+21.csv,1,80184,36.960590,5.040754,5.73750,15.00000,./gp_plot/04.09.2010_plot_0531+21_2.png,./gp_plot_txt/04.09.2010_plot_0531+21_2.csv,55443.13080218218,55443.13308314218
4,04.09.2010,07:08:21.3085403,2.4576,5.988555,2430,34,1719.899290,7.332353,./obs_plot/04.09.2010_plot_0531+21.png,.\obs_data\04.09.2010_obs_0531+21.csv,1,72868,36.738000,5.010397,6.30135,41.52060,./gp_plot/04.09.2010_plot_0531+21_3.png,./gp_plot_txt/04.09.2010_plot_0531+21_3.csv,55443.13080218218,55443.13308314218

In [8]:
gp_table_final = gp_table[['Date',
                             'MJD_start',
                             'MJD_stop',]]

In [9]:
gp_table_final['Session'] = 1

c:\users\professional\appdata\local\programs\python\python35\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [10]:
gp_table_final.head()

         Date           MJD_start           MJD_stop  Session
0  13.02.2010  55240.685057191426  55240.68733815143        1
1  04.09.2010   55443.13080218218  55443.13308314218        1
2  04.09.2010   55443.13080218218  55443.13308314218        1
3  04.09.2010   55443.13080218218  55443.13308314218        1
4  04.09.2010   55443.13080218218  55443.13308314218        1

In [15]:
gp_table_final.drop_duplicates().reset_index(drop=True)

            Date           MJD_start            MJD_stop  Session
0     13.02.2010  55240.685057191426   55240.68733815143        1
1     04.09.2010   55443.13080218218   55443.13308314218        1
2     05.09.2010  55444.128071975974   55444.13035293597        1
3     06.09.2010   55445.12534171482  55445.127622674816        1
4     07.09.2010   55446.12261142784   55446.12489238784        1
5     08.09.2010  55447.119881144805    55447.1221621048        1
6     09.09.2010   55448.11715089617   55448.11943185617        1
7     11.09.2010   55450.11169023584  55450.113971195846        1
8     12.09.2010   55451.10895988526   55451.11124084526        1
9     13.09.2010    55452.1062293016  55452.108510261605        1
10    14.09.2010  55453.103499293095   55453.10578025309        1
11    16.09.2010   55455.09803839116  55455.100319351164        1
12    17.09.2010   55456.09530833314   55456.09758929314        1
13    21.09.2010   55460.08439088712  55460.086671847115        1
14    22.09.2010   55461.08165645975  55461.083937419746        1
15    23.09.2010  55462.078926270624   55462.08120723063        1
16    24.09.2010   55463.07619576507   55463.07847672507        1
17    27.09.2010   55466.06800495532   55466.07028591532        1
18    28.09.2010   55467.06527462182   55467.06755558182        1
19    29.09.2010   55468.06254410726   55468.06482506727        1
20    01.10.2010   55470.05708381432   55470.05936477432        1
21    02.10.2010   55471.05435331356  55471.056634273555        1
22    03.10.2010   55472.05162313417   55472.05390409417        1
23    05.10.2010   55474.04616230035  55474.048443260355        1
24    07.10.2010  55476.040701554266  55476.042982514264        1
25    10.10.2010   55479.03251094032  55479.034791900325        1
26    17.10.2010   55486.01339851059   55486.01567947059        1
27    18.10.2010  55487.010668111485   55487.01294907149        1
28    19.10.2010  55488.007937705384   55488.01021866538        1
29    20.10.2010   55489.00520770596  55489.007488665964        1
...          ...                 ...                 ...      ...
1564  26.09.2018  58387.070899738974   58387.07319196297        1
1565  01.10.2018   58392.05724814863   58392.05954037263        1
1566  02.10.2018   58393.05451802108   58393.05681024508        1
1567  03.10.2018   58394.05178781381  58394.054080037815        1
1568  13.10.2018   58404.02448437147   58404.02677659546        1
1569  14.10.2018   58405.02175407513  58405.024046299135        1
1570  17.10.2018  58408.013563357235   58408.01585558124        1
1571  19.10.2018  58410.008102498454   58410.01039472245        1
1572  20.10.2018   58411.00537226452   58411.00766448852        1
1573  21.10.2018    58412.0026420629    58412.0049342869        1
1574  25.10.2018   58415.99172048637   58415.99401271037        1
1575  26.10.2018  58416.988990404614  58416.991282628616        1
1576  27.10.2018   58417.98626010231  58417.988552326315        1
1577  28.10.2018   58418.98352960207   58418.98582182607        1
1578  30.10.2018   58420.97806888068   58420.98036110468        1
1579  31.10.2018   58421.97533870615   58421.97763093015        1
1580  01.11.2018  58422.972608426855   58422.97490065085        1
1581  02.11.2018   58423.96987806673   58423.97217029073        1
1582  04.11.2018  58425.964417590694    58425.9667098147        1
1583  06.11.2018  58427.958956687275   58427.96124891127        1
1584  07.11.2018    58428.9562262796  58428.958518503605        1
1585  08.11.2018   58429.95349632152  58429.955788545514        1
1586  09.11.2018  58430.950765662164   58430.95305788617        1
1587  10.11.2018    58431.9480354938    58431.9503277178        1
1588  12.11.2018   58433.94257475345   58433.94486697745        1
1589  13.11.2018  58434.939844608416   58434.94213683242        1
1590  14.11.2018  58435.937114245804  58435.939406469806        1
1591  15.11.2018  58436.934384072556   58436.93667629655        1
1592  17.11.2018   58438.92892318434   58438.93121540834        1
1593  19.11.2018   58440.92346245209   58440.92575467609        1

[1594 rows x 4 columns]

## Заполнение таблицы сеансов исходя из директории obs_data

In [18]:
files_0531 = sorted(
    glob.glob('.' + os.sep + 'obs_data' + os.sep + '*'),
    key=lambda x: datetime.datetime.strptime(os.path.basename(x), '%d.%m.%Y_obs_0531+21.csv'))

def read_head(filename, numpar):
    header = {}
    with open(filename, 'r') as file:
        for i in range(numpar):
            a, *b = file.readline().split()
            try:
                header[a] = b[0] + '.' + b[1]
            except IndexError:
                header[a] = b[0].replace(',', '.')
    return header

In [21]:
crab_sessions = pd.DataFrame(columns=[
    'Date',
    'MJD_start',
    'MJD_stop',
    'Session'])

In [24]:
for idx, name in enumerate(files_0531):
    head = read_head(name, 7)
    day, month, year = head['date'].split('.')
    time_utc_start = (Time('{}-{}-{}T'.format(year, month, day) + head['time'], precision=7)
            - 4*u.hour)
    time_utc_stop = (time_utc_start
                     + (int(head['numpuls']) - 1)
                     *int(head['numpointwin'])
                     *float(head['tay'])*u.millisecond)
    crab_sessions.loc[idx] = [
        head['date'],
        str(time_utc_start.mjd),
        str(time_utc_stop.mjd),
        1,
    ]

In [25]:
crab_sessions

            Date           MJD_start            MJD_stop Session
0     13.02.2010  55240.685057191426   55240.68733815143       1
1     03.09.2010   55442.13353269469  55442.135813654684       1
2     04.09.2010   55443.13080218218   55443.13308314218       1
3     05.09.2010  55444.128071975974   55444.13035293597       1
4     06.09.2010   55445.12534171482  55445.127622674816       1
5     07.09.2010   55446.12261142784   55446.12489238784       1
6     08.09.2010  55447.119881144805    55447.1221621048       1
7     09.09.2010   55448.11715089617   55448.11943185617       1
8     11.09.2010   55450.11169023584  55450.113971195846       1
9     12.09.2010   55451.10895988526   55451.11124084526       1
10    13.09.2010    55452.1062293016  55452.108510261605       1
11    14.09.2010  55453.103499293095   55453.10578025309       1
12    16.09.2010   55455.09803839116  55455.100319351164       1
13    17.09.2010   55456.09530833314   55456.09758929314       1
14    21.09.2010   55460.08439088712  55460.086671847115       1
15    22.09.2010   55461.08165645975  55461.083937419746       1
16    23.09.2010  55462.078926270624   55462.08120723063       1
17    24.09.2010   55463.07619576507   55463.07847672507       1
18    27.09.2010   55466.06800495532   55466.07028591532       1
19    28.09.2010   55467.06527462182   55467.06755558182       1
20    29.09.2010   55468.06254410726   55468.06482506727       1
21    01.10.2010   55470.05708381432   55470.05936477432       1
22    02.10.2010   55471.05435331356  55471.056634273555       1
23    03.10.2010   55472.05162313417   55472.05390409417       1
24    05.10.2010   55474.04616230035  55474.048443260355       1
25    06.10.2010  55475.043432095714   55475.04571305571       1
26    07.10.2010  55476.040701554266  55476.042982514264       1
27    09.10.2010    55478.0352411411    55478.0375221011       1
28    10.10.2010   55479.03251094032  55479.034791900325       1
29    11.10.2010   55480.02978052289  55480.032061482896       1
...          ...                 ...                 ...     ...
1892  19.10.2018  58410.008102498454   58410.01039472245       1
1893  20.10.2018   58411.00537226452   58411.00766448852       1
1894  21.10.2018    58412.0026420629    58412.0049342869       1
1895  22.10.2018   58412.99991152679  58413.002203750795       1
1896  23.10.2018   58413.99718107007   58413.99947329407       1
1897  25.10.2018   58415.99172048637   58415.99401271037       1
1898  26.10.2018  58416.988990404614  58416.991282628616       1
1899  27.10.2018   58417.98626010231  58417.988552326315       1
1900  28.10.2018   58418.98352960207   58418.98582182607       1
1901  29.10.2018   58419.98079931736   58419.98309154136       1
1902  30.10.2018   58420.97806888068   58420.98036110468       1
1903  31.10.2018   58421.97533870615   58421.97763093015       1
1904  01.11.2018  58422.972608426855   58422.97490065085       1
1905  02.11.2018   58423.96987806673   58423.97217029073       1
1906  03.11.2018   58424.96714764979   58424.96943987379       1
1907  04.11.2018  58425.964417590694    58425.9667098147       1
1908  06.11.2018  58427.958956687275   58427.96124891127       1
1909  07.11.2018    58428.9562262796  58428.958518503605       1
1910  08.11.2018   58429.95349632152  58429.955788545514       1
1911  09.11.2018  58430.950765662164   58430.95305788617       1
1912  10.11.2018    58431.9480354938    58431.9503277178       1
1913  11.11.2018   58432.94530505448  58432.947597278486       1
1914  12.11.2018   58433.94257475345   58433.94486697745       1
1915  13.11.2018  58434.939844608416   58434.94213683242       1
1916  14.11.2018  58435.937114245804  58435.939406469806       1
1917  15.11.2018  58436.934384072556   58436.93667629655       1
1918  16.11.2018   58437.93165371374   58437.93394593774       1
1919  17.11.2018   58438.92892318434   58438.93121540834       1
1920  18.11.2018  58439.926192889434  58439.928485113436       1
1921  19.11.2018   58440.92346245209   58440.92575467609       1

[1922 rows x 4 columns]

In [26]:
crab_sessions.to_csv(
        'crab' + '_obs_kaz_MJD.csv',  sep='\t', header=True, index=False)