Файл для создания МПИ для темпо

In [3]:
import sys
import platform
import pandas as pd

In [9]:
if 'Windows' in platform.platform() and '8.1' in platform.release():
    _ = "C:\\Users\\Andrey\\YandexDisk\\3.Programing\\"
    DATA_DIR = _ + "work\\PulseViewer\\pulsarsData\\"
    PATTERN_DIR = _ + "work\\PulseViewer\\frame_of_AP\\patterns\\"
    PACK_DIR = _ + "myPacks\\"
    DELIMITER = "\\"

elif 'Windows' in platform.platform() and '7' in platform.release():
    _ = "E:\\Disk.Yandex\\3.Programing\\"
    DATA_DIR = "work\\PulseViewer\\pulsarsData\\"
    PATTERN_DIR = _ + "work\\PulseViewer\\frame_of_AP\\patterns\\"
    PACK_DIR = _ + "myPacks\\"
    DELIMITER = "\\"

elif 'Windows' in platform.platform() and '10' in platform.release():
    _ = "F:\\YandexDisk\\3.Programing\\"
    DATA_DIR = _ + "work\\PulseViewer\\pulsarsData\\"
    PATTERN_DIR = _ + "work\\PulseViewer\\frame_of_AP\\patterns\\"
    PACK_DIR = _ + "myPacks\\"
    ALL_DATA = "F:\\YandexDisk\\1.Работа\\Результаты обработки\\"
    DELIMITER = "\\"    
    
elif 'Linux' in platform.platform() and '4.4.0' in platform.release():
    _ = "/home/andr/Yandex.Disk/3.Programing/"
    DATA_DIR = _ + "work/PulseViewer/pulsarsData/"
    PATTERN_DIR = _ + "/work/PulseViewer/frame_of_AP/patterns/"
    PACK_DIR = _ + "myPacks/"
    ALL_DATA = "/home/andr/Yandex.Disk/1.Работа/Результаты обработки/"
    DELIMITER = "/"
    
else:
    print('unknown system', platform.platform(), platform.release())

sys.path.append(PACK_DIR)
from PRAO import *
from TOA import *

In [5]:
gp_table = pd.read_table('crab_gp_kaz_pulses.csv', sep='\t')

In [6]:
gp_table.head()

,Date,Time start,"point of gp, point",MJD,amp_GP,"E, Jy*ms","W50, point","W10, point","Period, s","Numpointwin, point","Tay, ms","Median, adc u","STD, adc u"
0,05.09.2010,07:04:25.4187240,21354,55444.128679,1813.415960,85440.017362,19.17135,99.00000,5.988559,2430,2.4576,1720.0,11.285902
1,09.09.2010,06:48:41.8374290,45640,55448.118449,1841.280215,87380.038994,19.30995,54.57375,5.988578,2430,2.4576,1720.0,12.771049
2,12.09.2010,06:36:54.1340866,36629,55451.110002,1833.193160,88066.707345,19.54755,63.99360,5.988594,2430,2.4576,1720.0,11.308971
3,17.09.2010,06:17:14.6399831,41855,55456.096499,1826.751170,84423.836687,18.80505,39.28815,5.988624,2430,2.4576,1720.0,12.099526
4,17.10.2010,04:19:17.6313152,27361,55486.014177,1952.176380,103329.549129,21.53745,74.91825,5.988894,2430,2.4576,1720.0,16.700985

In [7]:
list_mjd = list(gp_table['MJD'])

In [10]:
list_err = [(i/2) * 1000 for i in gp_table['Tay, ms']]

In [12]:
header = {
    'name' : '0531+21',
    'tay' : '2.4576',
}

In [13]:
write_tempo(header, list_mjd, list_err, 't1')

In [14]:
days = []
MJDs = []
tays = []
errs = []
for index, row in gp_table.iterrows():
    if row['Date'] not in days:
        days.append(row['Date'])
        MJDs.append(row['MJD'])
        tays.append(row['Tay, ms'])
        errs.append((row['Tay, ms']/2) * 1000)

In [18]:
write_tempo(header, MJDs, errs, '_oneday')